.mb { background: url('../assets/mb-spritesheet.png') no-repeat top left;  }
.mb.checkbox-on { background-position: 0px 0px; width: 15px; height: 15px;  }
.mb.checkbox-off { background-position: 0px -25px; width: 15px; height: 15px;  }
.mb.close-modal { background-position: 0px -50px; width: 23px; height: 23px;  }
.mb.frequency-day:hover { background-position: 0px -83px; width: 11px; height: 13px;  }
.mb.frequency-day { background-position: 0px -106px; width: 11px; height: 13px;  }
.mb.frequency-minute:hover { background-position: 0px -129px; width: 13px; height: 13px;  }
.mb.frequency-minute { background-position: 0px -152px; width: 13px; height: 13px;  }
.mb.frequency-week:hover { background-position: 0px -175px; width: 11px; height: 13px;  }
.mb.frequency-week { background-position: 0px -198px; width: 11px; height: 13px;  }
.mb.thermometer-extended { background-position: 0px -221px; width: 166px; height: 63px;  }
.mb.annotations-button:hover { background-position: 0px -294px; width: 19px; height: 19px;  }
.mb.annotations-button { background-position: 0px -323px; width: 19px; height: 19px;  }
.mb.buy-button:hover { background-position: 0px -352px; width: 210px; height: 68px;  }
.mb.buy-button { background-position: 0px -430px; width: 200px; height: 56px;  }
.mb.calendar { background-position: 0px -496px; width: 11px; height: 10px;  }
.mb.close:hover { background-position: 0px -516px; width: 7px; height: 7px;  }
.mb.close { background-position: 0px -533px; width: 7px; height: 7px;  }
.mb.collapse-leftwards-press { background-position: 0px -550px; width: 6px; height: 54px;  }
.mb.collapse-leftwards { background-position: 0px -614px; width: 6px; height: 54px;  }
.mb.collapse-rightwards-press { background-position: 0px -678px; width: 6px; height: 54px;  }
.mb.collapse-rightwards { background-position: 0px -742px; width: 6px; height: 54px;  }
.mb.comments:hover { background-position: 0px -806px; width: 16px; height: 14px;  }
.mb.comments { background-position: 0px -830px; width: 16px; height: 14px;  }
.mb.down-arrow-small { background-position: 0px -854px; width: 10px; height: 6px;  }
.mb.down-arrow { background-position: 0px -870px; width: 16px; height: 13px;  }
.mb.indicator { background-position: 0px -893px; width: 16px; height: 17px;  }
.mb.like.liked:hover { background-position: 0px -920px; width: 16px; height: 14px;  }
.mb.like.liked { background-position: 0px -944px; width: 16px; height: 14px;  }
.mb.like:hover { background-position: 0px -968px; width: 16px; height: 14px;  }
.mb.like { background-position: 0px -992px; width: 16px; height: 14px;  }
.mb.ma-button:hover { background-position: 0px -1016px; width: 19px; height: 19px;  }
.mb.ma-button { background-position: 0px -1045px; width: 19px; height: 19px;  }
.mb.no-change { background-position: 0px -1074px; width: 8px; height: 8px;  }
.mb.period-button:hover { background-position: 0px -1092px; width: 19px; height: 19px;  }
.mb.period-button { background-position: 0px -1121px; width: 19px; height: 19px;  }
.mb.search { background-position: 0px -1150px; width: 18px; height: 18px;  }
.mb.sell-button:hover { background-position: 0px -1178px; width: 210px; height: 68px;  }
.mb.sell-button { background-position: 0px -1256px; width: 210px; height: 68px;  }
.mb.settings:hover { background-position: 0px -1334px; width: 13px; height: 11px;  }
.mb.settings { background-position: 0px -1355px; width: 13px; height: 11px;  }
.mb.trend-indicator-down { background-position: 0px -1376px; width: 42px; height: 40px;  }
.mb.trend-indicator-flat { background-position: 0px -1426px; width: 42px; height: 40px;  }
.mb.trend-indicator-strong-down { background-position: 0px -1476px; width: 42px; height: 40px;  }
.mb.trend-indicator-strong-up { background-position: 0px -1526px; width: 42px; height: 40px;  }
.mb.trend-indicator-up { background-position: 0px -1576px; width: 42px; height: 40px;  }
.mb.up-arrow-small { background-position: 0px -1626px; width: 10px; height: 6px;  }
.mb.up-arrow { background-position: 0px -1642px; width: 16px; height: 13px;  }
.mb.zoomin:hover { background-position: 0px -1666px; width: 20px; height: 20px;  }
.mb.zoomin { background-position: 0px -1696px; width: 20px; height: 20px;  }
.mb.zoomout:hover { background-position: 0px -1726px; width: 20px; height: 20px;  }
.mb.zoomout { background-position: 0px -1756px; width: 20px; height: 20px;  }