.mb { background: url('../assets/mb-spritesheet.png') no-repeat top left;  }
.mb.thermometer-extended { background-position: 0px 0px; width: 145px; height: 63px;  }
.mb.annotations-button:hover { background-position: 0px -73px; width: 19px; height: 19px;  }
.mb.annotations-button { background-position: 0px -102px; width: 19px; height: 19px;  }
.mb.buy-button-hover { background-position: 0px -131px; width: 210px; height: 68px;  }
.mb.buy-button { background-position: 0px -209px; width: 200px; height: 56px;  }
.mb.calendar { background-position: 0px -275px; width: 11px; height: 10px;  }
.mb.close-hover { background-position: 0px -295px; width: 7px; height: 7px;  }
.mb.close { background-position: 0px -312px; width: 7px; height: 7px;  }
.mb.collapse-leftwards-press { background-position: 0px -329px; width: 6px; height: 54px;  }
.mb.collapse-leftwards { background-position: 0px -393px; width: 6px; height: 54px;  }
.mb.collapse-rightwards-press { background-position: 0px -457px; width: 6px; height: 54px;  }
.mb.collapse-rightwards { background-position: 0px -521px; width: 6px; height: 54px;  }
.mb.comments-hover { background-position: 0px -585px; width: 16px; height: 14px;  }
.mb.comments { background-position: 0px -609px; width: 16px; height: 14px;  }
.mb.down-arrow-small { background-position: 0px -633px; width: 10px; height: 6px;  }
.mb.down-arrow { background-position: 0px -649px; width: 16px; height: 13px;  }
.mb.indicator { background-position: 0px -672px; width: 16px; height: 17px;  }
.mb.like-finish-hover { background-position: 0px -699px; width: 16px; height: 14px;  }
.mb.like-finish { background-position: 0px -723px; width: 16px; height: 14px;  }
.mb.like-hover { background-position: 0px -747px; width: 16px; height: 14px;  }
.mb.like { background-position: 0px -771px; width: 16px; height: 14px;  }
.mb.ma-button:hover { background-position: 0px -795px; width: 19px; height: 19px;  }
.mb.ma-button { background-position: 0px -824px; width: 19px; height: 19px;  }
.mb.no-change { background-position: 0px -853px; width: 8px; height: 8px;  }
.mb.period-button:hover { background-position: 0px -871px; width: 19px; height: 19px;  }
.mb.period-button { background-position: 0px -900px; width: 19px; height: 19px;  }
.mb.search { background-position: 0px -929px; width: 18px; height: 18px;  }
.mb.sell-button-hover { background-position: 0px -957px; width: 210px; height: 68px;  }
.mb.sell-button { background-position: 0px -1035px; width: 210px; height: 68px;  }
.mb.settings-hover { background-position: 0px -1113px; width: 13px; height: 11px;  }
.mb.settings { background-position: 0px -1134px; width: 13px; height: 11px;  }
.mb.trend-indicator-down { background-position: 0px -1155px; width: 42px; height: 40px;  }
.mb.trend-indicator-flat { background-position: 0px -1205px; width: 42px; height: 40px;  }
.mb.trend-indicator-strong-down { background-position: 0px -1255px; width: 42px; height: 40px;  }
.mb.trend-indicator-strong-up { background-position: 0px -1305px; width: 42px; height: 40px;  }
.mb.trend-indicator-up { background-position: 0px -1355px; width: 42px; height: 40px;  }
.mb.up-arrow-small { background-position: 0px -1405px; width: 10px; height: 6px;  }
.mb.up-arrow { background-position: 0px -1421px; width: 16px; height: 13px;  }
.mb.zoomin:hover { background-position: 0px -1445px; width: 20px; height: 20px;  }
.mb.zoomin { background-position: 0px -1475px; width: 20px; height: 20px;  }
.mb.zoomout:hover { background-position: 0px -1505px; width: 20px; height: 20px;  }
.mb.zoomout { background-position: 0px -1535px; width: 20px; height: 20px;  }