/* =Table of Contents
--------------------------------------------------------------
  =General
  =Layout
  =Nav
  =Dropdown menu
  =SVG
-------------------------------------------------------------- */

/* =General
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: rgb(15, 15, 15);
  color: #fff;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav:before, .nav:after {
  display: table;
  content: " ";
  clear: both;
}
.no-right-padding { padding-right: 0px; }
.pull-right {
  float: right !important;
}

/* =Layout
-------------------------------------------------------------- */
.outer {
  overflow-x: hidden;
  position: relative;
}

.component-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.component {
  position: relative;
  background-color: rgb(38, 38, 38);
  border: 1px solid #4d4d4d;
  margin-bottom: 10px;
  padding: 10px;
}

.btn-buy-sell-wrapper {
  display: inline-block;
  width: 400px;
  height: 48px;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .btn-buy-sell-wrapper {
    float: right;
  }
}

@media (max-width: 1152px) {
  .btn-buy-sell-wrapper {
     margin-top: 30px;
  }
}

.component-item {
  float: left;
}
.component-item-price .title {
  color: rgb(107, 107, 107);
}

.component-item-price {
  width: 100px;
  height: 48px;
  vertical-align: middle;
  display: inline-block;
}

.component-item-price.ind {
  width: 100px;
}

.component-item-price.thermo {
  width: 200px;
}

.prediction, .indicator {
  display: inline-block;
}
.indicator {
  width: 48px;
  height: 40px;
}

.down .indicator {
  background: url('../assets/chart/trend-indicator-down.png') no-repeat center;
}


div.strong-down div.indicator {
  background: url('../assets/chart/trend-indicator-strong-down.png') no-repeat center;
}

div.up div.indicator{
  background: url('../assets/chart/trend-indicator-up.png') no-repeat center;
}

div.strong-up div.indicator{
  background: url('../assets/chart/trend-indicator-strong-up.png') no-repeat center;
}

div.down div.value-label,
div.down div.value-sublabel,
div.strong-down div.value-label,
div.strong-down div.value-sublabel {
  color: green;
}

div.up div.value-label,
div.up div.value-sublabel,
div.strong-up div.value-label,
div.strong-up div.value-sublabel{
  color: #f65c4e;
}

div.thermometer {
  display: inline-block;
  background: url('../assets/chart/thermometer.png') no-repeat center;
  width: 50%;
  height: 55px;
  -webkit-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  transform: translateX(-30%);
}

div.changes {
  display: inline-block;
  width: 10%;
  height: 100%;
  vertical-align: top;
  font-size: 15px;
  -moz-transform: translateX(-350%);
  -ms-transform: translateX(-350%);
  -webkit-transform: tranlsateX(-350%);
  transform: translateX(-350%);
}

div.thermo div.positive {
  color: #f65c4e;
}


div.thermo div.negative {
  color: #f65c4e;
  filter: hue-rotate(90deg);
  -moz-filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
}


div.thermo div.neutral {
  color: rgb(107, 107, 107);
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.title,.legend {
  display: inline;
}

.legend > li{
  display: inline;
  padding-right: 10px;
}

.legend{
  float: right;
}

.legend-line {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

#ma5-legend-line  { border-color: #ffffff; }
#ma10-legend-line { border-color: #d7db74; }
#ma20-legend-line { border-color: #94599d; }
#ma60-legend-line { border-color: #36973a; }
#sentiment-legend-line { border-color: #25bcf1; }

#ma5-legend { color: #ffffff;  }
#ma10-legend { color: #d7db74; }
#ma20-legend { color: #94599d; }
#ma60-legend { color: #36973a; }
#sentiment-legend { color: #25bcf1; }

.legend-line, .legend > li > span {
  display: inline-block;
}

#y2labelLineActive {
  z-index: -1;
}

.y2labels > text{
  z-index: 1;
}

.btn {
  padding: 12px 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  color: #fff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-buy {
  background-color: #f65c4e;
  margin-left: 10px;
}

.btn-buy,
.btn-sell {
  display: inline-block;
  width: 180px;
  border-radius: 3px;
}

.btn-buy:hover {
  background-color: #f77266;
}

.btn-sell {
  background-color: #3bbb57;
}

.btn-sell:hover {
  background-color: #4ac665;
}

/* =Chart
-------------------------------------------------------------- */
.container {
  position: absolute;
  top: 0;
  overflow: scroll;
  left: 60px;
  width: calc(100% - 120px);
}

#chart {
  z-index: 1;
  top: 0;
}

/* =Nav
-------------------------------------------------------------- */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs > li {
  float: left;
  border: 1px solid #4d4d4d;
  background-color: rgb(38, 38, 38);
  margin-left: -1px;
  margin-bottom: -1px;
}
.nav-tabs > li:first-child {
  margin-left: 0px;
}
.nav-tabs > li > a {
  line-height: 1.42857143;
  color: rgb(107, 107, 107);
  border: 0px;
  border-bottom: 4px solid transparent;
  text-align: center;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: rgb(107, 107, 107);
  background-color: rgb(50, 50, 50);
  border: 0px;
  border-bottom: 4px solid transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li > a.active {
  color: rgb(48, 140, 180);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 4px solid rgb(48, 140, 180);
  margin-right: 0px;
  border-radius: 0px;
}
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: rgb(48, 140, 180);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 4px solid rgb(48, 140, 180);
}

/* =Dropdown menu
-------------------------------------------------------------- */
.link-dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 120%;
  background-color: #353535;
  width: 120px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #131313;
  color: #fff;
}

/* replaces js/toolbar/toolbar.js initDropdown function  */
.link-dropdown:hover > .dropdown-menu{
  display: block;
}

.dropdown-menu > ul > li{
  padding: 6px 12px;
  color: #fff;
}
.dropdown-menu > form > ul > li{
  padding: 6px 12px;
  color: #fff;
}

.dropdown-menu > ul > li:hover {
  padding: 6px 12px;
  background-color: #434343;
}
.dropdown-menu > ul > li > a:hover {
  color: #29a3d3;
  text-decoration: none;
}

label.checkbox-label input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}


.dropdown-menu > ul > li > a {
  padding: 6px 12px;
}
.dropdown-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}

/* =Snapshot
-------------------------------------------------------------- */
.value-label {
  color: #f65c4e;
  font-size: 20px;
}
.value-sublabel {
  color: #f65c4e;
  font-size: 12px;
}

/* =Right Panel
-------------------------------------------------------------- */
#content {
  overflow: hidden;
  margin-right: 45px;
  margin-left: 15px;

  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

#right-panel.collapsed { margin-right: -280px; }
#right-panel {
  float: right;
  width: 280px;
  margin-left: 15px;

  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
#right-panel .component {
  height: 500px;
  overflow: scroll;
}
.nav-tabs-full-width {
  border: 1px solid #4d4d4d;
  border-bottom: 0px;
  background-color: rgb(38, 38, 38);
}
.nav-tabs-full-width > li, .nav-tabs-full-width > li:first-child {
  margin-left: -1px;
  margin-top: -1px;
  height: 42px;
}
.nav-tabs > li.pin-button, .nav-tabs > li.close-button {
  width: 10%;
  border-left: 0px;
  border-right: 0px;
}
.nav-tabs > li.pin-button > a {
  padding-left: 0px;
  padding-right: 0px;
  border-right: 0px;
  background: url('../assets/chart/pin.png') no-repeat center center;
  height: 42px;
}
.nav-tabs > li.pin-button > a:hover, .nav-tabs > li.close-button > a:hover {
  background-color: transparent;
}
.nav-tabs > li.close-button > a {
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  background: url('../assets/chart/close.png') no-repeat center center;
  height: 42px;
}
.nav-tabs > li.close-button > a.active {
  border-bottom: 4px solid transparent;
}

#right-panel-collapsed {
  position: absolute;
  right: 0;
  width: 30px;

  -webkit-transition: all 500ms ease-out 300ms;
  -moz-transition: all 500ms ease-out 300ms;
  -o-transition: all 500ms ease-out 300ms;
  transition: all 500ms ease-out 300ms;
}
#right-panel-collapsed.collapsed {
  margin-right: -30px;
}
.nav-tabs-collapsed > li:first-child {
  margin-top: 0px;
}
.nav-tabs-collapsed > li {
  display: block;
  float: none;
  border: 1px solid rgb(107, 107, 107);
  margin-top: -1px;
}
.nav-tabs-collapsed > li > a {
  padding: 30px 10px;
  color: rgb(107, 107, 107);
}
.nav-tabs-collapsed > li > a:hover {
  background-color: transparent;
}
.nav-tabs-collapsed > li > a.active, .nav-tabs-collapsed > li > a.active:hover {
  border-bottom: 4px solid transparent;
  color: rgb(107, 107, 107);
}

/* =SVG
-------------------------------------------------------------- */
text {
  fill: rgb(107, 107, 107);
}

/* =Expert
---------------------------------------------------------------*/
#experts-view {
  padding: 20px;
}

.expert-block {
  width: 100%;
  background-color: rgb(38, 38, 38);
  border-bottom: rgb(107, 107, 107) dotted thin;
  margin-top: 15px;
}

.profile-pic, .others {
  display: inline-block;
}

.profile-pic {
  width: 20%;
  height: 40px;
  background-color: white;
  float: left;
}

.others{
  width: 80%;
  height: 40px;
  float: right;
  padding-left: 2px;
}

.name-and-date {
  width: 100%;
  height: 50%;
}

.name, .date {
  display: inline-block;
  color: rgb(107, 107, 107);
}

.name {
  float: left;
}

.date {
  float: right;
}

.rating, .content {
  display: inline-block;
}

.like-and-discussion {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  vertical-align: middle; /* override common_base.css:6 */
}

.like {
  width: 40%;
  height: 100%;
  color: black;
  line-height: 1em;
}

.like > .text,
.discussion > .text {
  height: 100%;
  width: 48%;
  vertical-align: top;
  color: rgb(107, 107, 107);
}

.like > .text,
.like > .icon,
.discussion > .text,
.discussion > .icon {
  display: inline-block;
}

.like > .icon {
  background: url('../assets/chart/like.png') no-repeat center;
}

.discussion > .icon {
  background: url('../assets/chart/comments.png') no-repeat center;
}

.like > .icon,
.discussion > .icon {
  width: 48%;
  height: 100%;
}

.discussion {
  width: 40%;
  height: 100%;
}

.discussion > .text,
.like > .text {
  -webkit-transform: translate(-20%, 30%);
  -ms-transform: translate(-20%, 30%);
  transform: translate(-20%, 30%);
}

.like, .discussion {
  display: inline-block;
  float: right;
}

.profile-and-content {
  width: 100%;
  height: 40px;
}

.rating-and-content {
  height: 75%;
  width: 100%;
  font-size: 15px;
}

.rating-and-content > .rating {
  font-size: 12px;
  border-radius: 2px;
}

.rating-and-content > .rise {
  background-color: #352d2d;
  color: red;
}

.rating-and-content > .fall {
  background-color: #2d382e;
  color: green;
}

.rating-and-content > .rise span,
.rating-and-content > .fall span{
  display: none;
}

.rating-and-content > .rise:after {
  content: "▲ 看升";
}

.rating-and-content > .fall:after {
  content: "▼ 看升";
}






/* =Stockpicker
---------------------------------------------------------------*/
#stockpicker-view{
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 40px;
}


#settings {
  background-color: black;
  width: 15%;
  height: 40px;
  border-right: #332 solid 1px;
  border-bottom: #332 solid 1px;
  float: left;
  background: url('../assets/chart/settings.png') no-repeat center;
}

#settings:hover {
  background-image: url('../assets/chart/settings-hover.png');
  cursor: pointer;
}

#stock-search {
  width: 100%;
  height: 40px;
  background-color: #1f1f1f;
  border-bottom: #332 solid 1px;
  padding: 5px;
  font-size: 15px;

  color: #808080;
}

#stock-search:focus {
  outline: none;
}

#searchBar{
  width: 70%;
  height: 40px;
  float: right;
}

#search{
  float: right;
  width: 15%;
  height: 40px;
  border-bottom: #332 solid 1px;
}

#suggestion {
  height: 40px;
  width: 100%;
  padding: 10px;
  border-bottom: #332 1px solid;
  color: #808080;
}

#login-wrapper {
  width: 100%;
  height: 200px;
  border-bottom: #332 1px solid;
  margin: 0 auto;
  text-align: center;
}

#login-wrapper > div {
  margin: 10px;
}

.wrapper .center {
  width: 100%;
  height: 100%;
}

#login {
  width: 50%;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  background-color: #454545;
}

#login:hover {
  cursor: pointer;
  background-color: #565656;
}

#search-button {
  background: url('../assets/chart/search.png') no-repeat center;
  background-color: #1f1f1f;
  width: 100%;
  height: 40px;
  border-bottom: #332 solid 1px;
  cursor: pointer;
}

#search-button:focus {
  outline: none;
}

#stock-table {
  width: 100%;
  height: 100%;
}

#stock-table th {
  border-bottom: #332 solid 1px;
  padding: 10px;
  color: rgb(107, 107, 107);
}

#stock-table td {
  border-bottom: #332 solid 1px;
  padding: 10px;
  margin: 5px;
}

/* =News
---------------------------------------------------------------*/
.news-block {
  width: 100%;
  padding: 5px;
  height: 150px;
  border-bottom: rgb(107, 107, 107) solid 1px;
}

.calendar-and-date {
  width: 100%;
  height: 20px;
}

.calendar,
.date {
  display: inline-block;
}

.calendar {
  width: 10%;
  height: 100%;
  background: url('../assets/chart/calendar.png') no-repeat center;
}

.date {
  height: 100%;
  color: #fff;
  vertical-align: top;
}

.news-block .content {
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
}

.sentiment-news {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  border: rgb(107, 107, 107) solid 1px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.news-block > .up {
  color: #f65c4e;
}


.news-block > .down {
  color: green;
}

.sentiment-news .label,
.sentiment-news .rating {
  display: inline-block;
}


.sentiment-news .rating {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}


.sentiment-news .label {
  vertical-align: bottom;
  font-size: 15px;

}

.sentiment-news .rating .arrow {
  width: 10px;
  height: 20px;
}


.sentiment-news .rating .up {
  background: url('../assets/chart/up-arrow.png') no-repeat center;
}


.sentiment-news .rating .down {
  background: url('../assets/chart/down-arrow.png') no-repeat center;
}

.rating .arrow,
.rating .percentage {
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
}

.time-and-source {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.time-and-source .time,
.time-and-source .source {
  display: inline-block;
}

.time-and-source .time {
  color: #25bcf1;
}

.time-and-source .source {
  margin-left: 10px;
  color: rgb(107, 107, 107);
}




/* =Tooltip
-------------------------------------------------------------- */
#tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 150px;
  font-size: 11px;
  background-color: rgb(15, 15, 15);
}
#tooltip > ul > li {
  padding: 4px 10px;
}
#tooltip > ul > li.tt-title {
  background-color: rgb(50, 50, 50);
}
#tooltip > ul > li.tt-subtitle {
  color: rgb(140, 140, 140);
}
#tooltip > ul > li.tt-row {
  color: rgb(140, 140, 140);
}
.tt-label {
  display: inline-block;
  width: 50%;
  color: rgb(140, 140, 140);
}
.tt-value {
  display: inline-block;
  width: 50%;
  color: #fff;
  text-align: right;
}

/* =Toolbar
-------------------------------------------------------------- */
#toolbar {
  position: absolute;
  left: 80px;
  top: 50px;
  z-index: 10;
}
ul.toolbar > li {
  float: left;
}
ul.toolbar > li > a {
  color: rgb(120, 120, 120);
  padding: 3px 10px;
  margin: 3px;
}
ul.toolbar > li > a:hover,
ul.toolbar > li.active > a,
ul.toolbar > li.active > a:hover {
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
}

#zoomin {
  background: url("../assets/chart/zoomin.png") no-repeat center;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

#zoomin:hover {
  background-image: url("../assets/chart/zoomin-hover.png");
}

#zoomout {
  background: url("../assets/chart/zoomout.png") no-repeat center;
  height: 50px;
  width: 50px;
}

#zoomout:hover {
  background-image: url("../assets/chart/zoomout-hover.png");
}

#ma-icon {
  background: url("../assets/chart/ma-button.png") no-repeat center;
}

#ma-icon:hover {
  background-image: url("../assets/chart/ma-button-hover.png");
}

#frequency-icon{
  background: url("../assets/chart/period-button.png") no-repeat center;
  height: 50px;
  width: 50px;
}

#frequency-icon:hover {
  background-image: url("../assets/chart/period-button-hover.png");
}

#rsi-icon{
  background: url("../assets/chart/annotations-button.png") no-repeat center;
  height: 50px;
  width: 50px;
}

#rsi-icon:hover {
  background-image: url("../assets/chart/annotations-button-hover.png");
  height: 50px;
  width: 50px;
}


#ma60-label{
  color: #36973a;
}
#ma20-label{
  color: #94599d;
}

#ma10-label{
  color: #d8db74;
}
#ma5-label{
  color: #fff;
}

