/* =Table of Contents
--------------------------------------------------------------
  =General
  =Layout
  =Nav
  =Dropdown menu
  =SVG
  =Dashboard
  =Price Chart
  =Sentiment Chart
  =Right Panel
  =Experts
  =Stockpicker
  =News
  =Tooltip
  =Toolbar
  =Modal
-------------------------------------------------------------- */

/* =General
-------------------------------------------------------------- */
.outer * {
  font-family: Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  background-color: rgb(15, 15, 15);
  overflow-x: hidden;
}
.mb-nav:before, .mb-nav:after {
  display: table;
  content: " ";
  clear: both;
}
.no-right-padding { padding-right: 0px; }
.pull-right {
  float: right !important;
}
.noscroll {
  overflow: hidden !important;
}
.outer, #price, #macd, #rsi, #sentiment, #about-index-view, #experts-view {
  visibility: hidden;
}

/* =Layout
-------------------------------------------------------------- */
.outer {
  overflow: hidden;
}

.rise { color: #d74e37; }
.fall { color: #3bbb57; }
.neutral { color: rgb(107, 107, 107); }
.white, .white a { color: #fff;}

.outer {
  overflow: hidden;
  margin-top: 15px;
}

.component-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
  margin-right: 1%;
  width: 97%;
}

.component {
  color: #fff;
  position: relative;
  background-color: rgb(38, 38, 38);
  border: 1px solid #4d4d4d;
  margin-bottom: 5px;
  padding: 7px;
  padding-left: 0;
  padding-right: 0;
}

.btn-buy-sell-wrapper {
  display: inline-block;
  padding: 5px 10px 5px 0px;
  vertical-align: middle;
  float: right;
}

.component-item {
  float: left;
}

/* =Dropdown menu
-------------------------------------------------------------- */
.link-dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #353535;
  width: 120px;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #454545;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
}

#ma-dropdown-menu {
  width: 125px;
}

/* replaces js/toolbar/toolbar.js initDropdown function  */
.link-dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu > ul > li{
  padding: 10px 12px;
  font-size: 12px;
  color: #fff;
}
.dropdown-menu > form > ul > li{
  padding: 6px 12px;
  color: #fff;
}

.dropdown-menu > ul > li:hover {
  padding: 10px 12px;
  background-color: #434343;
}
.dropdown-menu > ul > li > a:hover {
  color: #29a3d3;
  text-decoration: none;
}
label.checkbox-label input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.dropdown-menu > ul > li > a {
  padding: 6px 12px;
}
.dropdown-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}

/* =SVG
-------------------------------------------------------------- */
text {
  fill: rgb(107, 107, 107);
  font-size: 10px;
}
text.sentiment {
  fill: white;
  cursor: default;
}
/* =Dashboard
-------------------------------------------------------------- */
#snapshot {
  z-index: 1;
  min-height: 75px;
}

.value-label {
  font-size: 16px;
  line-height: 22px;

  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.value-sublabel {
  font-size: 10px;
  line-height: 12px;
}

.component-item-price .title {
  color: rgb(107, 107, 107);
}

.component-item-price {
  width: 120px;
  height: 48px;
  display: inline-block;
}

.prediction, .indicator {
  display: inline-block;
}

.prediction-mood {
  width: 70px;
}

.component-item-price.ind {
  width: 100px;
}

.component-item-price.thermo {
  min-width: 200px;
}

.prediction, .indicator {
  display: inline-block;
}

.indicator {
  width: 48px;
  height: 40px;
}

.fall .indicator {
  background: url('../assets/chart/trend-indicator-down.png') no-repeat center;
}

.fall .indicator.strong  {
  background: url('../assets/chart/trend-indicator-strong-down.png') no-repeat center;
}

.neutral .indicator  {
  background: url('../assets/chart/trend-indicator-flat.png') no-repeat center;
}

.rise .indicator {
  background: url('../assets/chart/trend-indicator-up.png') no-repeat center;
}

.rise .indicator.strong {
  background: url('../assets/chart/trend-indicator-strong-up.png') no-repeat center;
}

.thermo-wrapper {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 55px;
}

.thermometer {
  position: absolute;
  width: 100%;
  top: -1px;
  left: -75px;
}

.thermo-wrapper .background {
  position: absolute;
  left: 25px;
  width: 30%;
  height: 25%;
  bottom: -2px;
  z-index: -1;
}
.thermo-wrapper .background-full {
  position: absolute;
  background-color: #fff !important;
  left: 25px;
  width: 30%;
  height: 100%;
  bottom: 0;
  z-index: -10;
}
.fall .thermo-wrapper .background {
  background-color: #3bbb57;
}

.neutral .thermo-wrapper .background {
  background-color: rgb(107, 107, 107);
}

.rise .thermo-wrapper .background {
  background-color: #ff372f;
}

#changes {
  opacity: 0;
}

.changes {
  display: inline-block;
  width: 10%;
  height: 100%;
  vertical-align: top;
  font-size: 15px;
  padding-top: 3px;
  -moz-transform: translateX(-180%);
  -ms-transform: translateX(-180%);
  -webkit-transform: translateX(-180%);
  transform: translateX(-180%);
}

.title, .legend {
  display: inline;
}

@media (max-width: 1024px){
  .btn-buy-sell-wrapper {
    float: none;
    margin-top: 10px;
  }
}
@media (max-width: 1200px) and (min-width: 1024px) {
  .btn-buy,
  .btn-sell {
    width: 90px;
  }
}

#indicator-tooltip {
  display: none;
  width: 150px;
  height: 100px;
  font-size: 11px;
  background-color: #363636;
  position: absolute;
  top: 65px;
  left: 400px;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #454545;
}

#indicator-tooltip .tt-title {
  background-color: #454545;
}

#indicator-tooltip > ul {
  width: 148px;
  height: 98px;
}

#indicator-tooltip > ul > li{
  padding: 5px;
  background-color: #363636;
}

/* =Charts
-------------------------------------------------------------- */

#macd-chart { position: relative; }

#macd-dea-legend {
  color: #d8db74;
}

#macd-legend {
  color: #236a82;
}

#macd-dea-legend-line {
  border-color: #d8db74;
}

#macd-legend-line {
  border-color: #236a82;
}

#macd > .wrapper > .buttons > ul > li {
  display: inline-block;
}

#price >.legend,
#sentiment > .legend
#macd .legend
#rsi  .legend{
  margin-right: 15px;
}

.legend > li{
  display: inline;
  padding-right: 10px;
}

.legend{
  float: right;
}

.legend-line {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

#ma5-legend-line  { border-color: #ffffff; }
#ma10-legend-line { border-color: #d7db74; }
#ma20-legend-line { border-color: #94599d; }
#ma60-legend-line { border-color: #36973a; }
#sentiment-legend-line { border-color: #25bcf1; }
#security-legend-line { border-color: #FFFFFF; }

#ma5-legend { color: #ffffff;  }
#ma10-legend { color: #d7db74; }
#ma20-legend { color: #94599d; }
#ma60-legend { color: #36973a; }
#sentiment-legend { color: #25bcf1; }
#security-legend { color: #FFFFFF; }

.legend-line, .legend > li > span {
  display: inline-block;
}

#y2labelLineActive {
  z-index: -1;
}

.y2labels > text{
  z-index: 1;
}

.btn {
  padding: 14px 12px 13px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  color: #fff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-buy {
  background-color: #d74e37;
  margin-left: 10px;
}

.btn-buy,
.btn-sell {
  display: inline-block;
  width: 190px;
  border-radius: 2px;
}

.btn-buy:hover {
  background-color: #f77266;
}

.btn-sell {
  margin-left: 5px;
  background-color: #3bbb57;
}

.btn-sell:hover {
  background-color: #4ac665;
}

/* =Price Chart
-------------------------------------------------------------- */

#price.component, #macd.component, #rsi.component, #sentiment.component {
  padding-top: 0px;
  padding-bottom: 0px;
}

.chart-header {
  padding: 8px 13px;
}

#price .chart-header, #sentiment .chart-header {
  padding: 8px 35px 8px 13px;
}

.container {
  position: absolute;
  top: 25px;
  overflow: scroll;
  width: calc(100% - 120px);
}

.zoomable-chart-container{
  overflow: hidden;
}

.zoomable-chart {
  z-index: 1;
  top: 0;
}

.mouseover-overlay {
  z-index: 999999;
}

/* =Sentiment Chart
------------------------------------------------------------ */
.tooltip {
  position: absolute;
  width: 150px;
  height: 60px;
  pointer-events: none;
  font-size: 11px;
}

.sentiment-tooltip {
  color: white;
}

.sentiment-tooltip .mood {
  padding-left: 2px;
  height: 22px;
  line-height: 22px
}

.sentiment-tooltip .content {
  line-height: 22px
}


.news-bubble{
  width: 20px;
  height: 20px;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

.tooltip .wrapper {
  background-color: #454545;
  padding: 2px;
  width: 100%;
  height: 100%;
  border: #666 solid 1px;
}

.tooltip > .wrapper > div {
  padding: 5px;
}

.wrapper .arrow {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.wrapper .arrow.rise {
  background-image: url('../assets/chart/up-arrow.png');
}

.wrapper .arrow.fall {
  background-image: url('../assets/chart/down-arrow.png');
}

.wrapper .arrow,
.wrapper .content,
.wrapper .extra {
    display: inline-block;
}

.wrapper .extra.hide {
  display: none;
}

.tooltip-date {
  background-color: #666;
  padding: 5px 3px 5px 3px;
  width: 150px;
}

.news-bubble {
  position: absolute;
  width: 200px;
  height: 60px;
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* =Nav
-------------------------------------------------------------- */
.mb-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-right: 1px solid #4d4d4d;
  border-top: 1px solid #4d4d4d;
}
.mb-nav > li {
  position: relative;
  display: block;
}
.mb-nav > li > a {
  position: relative;
  display: block;
  padding: 8px 20px;
}
.mb-nav > li > a:hover,
.mb-nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.mb-nav > li.disabled > a {
  color: #777;
}
.mb-nav > li.disabled > a:hover,
.mb-nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.mb-nav .open > a,
.mb-nav .open > a:hover,
.mb-nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.mb-nav .mb-nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.mb-nav > li > a > img {
  max-width: none;
}
.mb-nav-tabs > li {
  float: left;
  border: 1px solid #4d4d4d;
  background-color: rgb(38, 38, 38);
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.mb-nav-tabs > li:first-child {
  margin-left: 0px;
}
.mb-nav-tabs > li > a {
  line-height: 1.42857143;
  color: rgb(201, 201, 201);
  border: 0px;
  border-bottom: 2px solid transparent;
  text-align: center;
  font-size: 13px;
}
.mb-nav-tabs > li > a:hover,
.mb-nav-tabs > li > a:focus {
  color: rgb(201, 201, 201);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 2px solid transparent;
}
.mb-nav-tabs > li.active > a,
.mb-nav-tabs > li.active > a:hover,
.mb-nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.mb-nav-tabs > li > a.active {
  color: rgb(48, 140, 180);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 2px solid rgb(48, 140, 180);
  margin-right: 0px;
}
.mb-nav-tabs > li > a.active:hover,
.mb-nav-tabs > li > a.active:focus {
  color: rgb(48, 140, 180);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 2px solid rgb(48, 140, 180);
}

/* =Dropdown menu
-------------------------------------------------------------- */
.link-dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #353535;
  width: 120px;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #454545;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
}

#ma-dropdown-menu {
  width: 125px;
}

/* replaces js/toolbar/toolbar.js initDropdown function  */
.link-dropdown:hover > .dropdown-menu{
  display: block;
}

.dropdown-menu > ul > li{
  padding: 10px 12px;
  font-size: 12px;
  color: #fff;
}
.dropdown-menu > form > ul > li{
  padding: 6px 12px;
  color: #fff;
}

.dropdown-menu > ul > li:hover {
  padding: 10px 12px;
  background-color: #434343;
}
.dropdown-menu > ul > li > a:hover {
  color: #29a3d3;
  text-decoration: none;
}
label.checkbox-label input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}


.dropdown-menu > ul > li > a {
  padding: 6px 12px;
}
.dropdown-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}

/* =Snapshot
-------------------------------------------------------------- */
.value-label {
  font-size: 16px;
  line-height: 22px;
}
.value-sublabel {
  font-size: 10px;
  line-height: 12px;
}

/* =Right Panel
-------------------------------------------------------------- */
#content {
  overflow: hidden;
  /*margin-right: 45px;*/
  margin-left: 10px;
  width: calc(100% - 325px);
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/*
#content.full {
  width: calc(100% - 60px);
}
*/
#right-panel.collapsed { display: none; }
#right-panel.uncollapsed { display: inline-flex; }

#right-panel-collapsed.collapsed{
  display: none;
}
#right-panel {
  float: right;
  width: 300px;
  margin-left: 15px;

  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.vertical-collapse,
.vertical-uncollapse{
  height: 60px;
  position: absolute;
  width: 15px;
  top: 200px;
}

.vertical-collapse:hover,
.vertical-uncollapse:hover {
  cursor: pointer;
}

.vertical-collapse {
  background: url('../assets/chart/collapse-rightwards.png') no-repeat center;
  right: 300px;
}

.vertical-uncollapse{
  background: url('../assets/chart/collapse-leftwards.png') no-repeat center;
  right: 30px;
  display: none;
}

.vertical-collapse.collapse {
  background: url('../assets/chart/collapse-leftwards.png') no-repeat center;
}

#right-panel .component {
  height: 100%;
}
.mb-nav-tabs-full-width {
  border: 1px solid #4d4d4d;
  border-bottom: 0px;
  background-color: rgb(38, 38, 38);
}
.mb-nav-tabs-full-width > li, .mb-nav-tabs-full-width > li:first-child {
  margin-left: -1px;
  margin-top: -1px;
}
.mb-nav-tabs > li.close-button {
  width: 10%;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.mb-nav-tabs > li.close-button > a:hover {
  background-color: transparent;
}
.mb-nav-tabs > li.close-button > a {
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  background: url('../assets/chart/close.png') no-repeat center center;
  height: 35px;
}
.mb-nav-tabs > li.close-button > a.active {
  border-bottom: 2px solid transparent;
}
.link-about-index-view, .link-chart-view, .link-about-index-view:hover, .link-chart-view:hover {
  background-color: rgb(31, 31, 31);
}

#right-panel-collapsed {
  position: absolute;
  right: 0;
  width: 30px;

  -webkit-transition: all 400ms ease-out 400ms;
  -moz-transition: all 400ms ease-out 400ms;
  -o-transition: all 400ms ease-out 400ms;
  transition: all 400ms ease-out 400ms;
}
#right-panel-collapsed.collapsed {
  margin-right: -30px;
}
.mb-nav-tabs-collapsed > li:first-child {
  margin-top: 0px;
}
.mb-nav-tabs-collapsed > li {
  display: block;
  float: none;
  border: 1px solid rgb(107, 107, 107);
  margin-top: -1px;
}
.mb-nav-tabs-collapsed > li > a {
  padding: 30px 10px;
  color: rgb(107, 107, 107);
}
.mb-nav-tabs-collapsed > li > a:hover, .mb-nav-tabs-collapsed > li > a:visited, .mb-nav-tabs-collapsed > li > a:focus {
  background-color: transparent;
}
.mb-nav-tabs-collapsed > li > a.active, .mb-nav-tabs-collapsed > li > a.active:hover {
  border-bottom: 2px solid transparent;
  color: rgb(107, 107, 107);
}

#right-panel-option-container {
  width: 15%;
  float: left;
}

#right-panel-option-container ul {
  display: none;
  position: absolute;
  left: -200px;
  z-index: 10;
  top: 0;
}

#right-panel-option-container li:hover > ul{
  display: block;
}

#stock-search-form {
  width: 85%;
  float: right;
}

#stock {
  right: 45px;
  width: 200px;
  background-color: #373737;
  font-size: 15px;
  box-shadow: 0px 0px 10px #222;
}

#stock li {
  padding: 30px;
  border-bottom: #4d4d4d solid 1px;
}

#stock li:last-child {
  border-bottom: none;
}

#stock li:hover {
  background-color: #262626;
}

/* =Experts
---------------------------------------------------------------*/
#experts-view {
  padding: 0px 0px 20px 0px;
  overflow: auto;
}

.experts-header {
  padding: 20px 10px;
  background-color: #2d2d2d;
  cursor: pointer;
}

.experts-header .name {
  color: rgb(48, 140, 180);
  border: 1px solid #4d4d4d;
  background-color: #1c1d1f;
  border-radius: 2px;
  padding: 2px 3px;
}

.experts-header .content {
  padding-top: 10px;
}

.expert-block {
  width: 100%;
  background-color: rgb(38, 38, 38);
  border-bottom: rgb(107, 107, 107) dotted thin;
  margin-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
}
.expert-block:last-child {
  border-bottom: transparent dotted thin;
}

.profile-and-content {
  line-height: 22px;
}

.profile-pic {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(107, 107, 107);
  margin-right: 10px;
  float: left;
}
.name-and-date {
  width: 100%;
  height: 22px;
}

.profile-and-content .name, .profile-and-content .date, .experts-header .date {
  display: inline-block;
  color: rgb(107, 107, 107);
}

.profile-and-content a,
.profile-and-content a:hover,
.profile-and-content a:visited {
  color: #fff;
}

.name {
  float: left;
}
.date {
  float: right;
}

.rating, .content {
  display: inline-block;
}
.rating {
  padding: 0px 5px;
  line-height: 16px;
}
.like-and-discussion {
  margin: 10px 0px 10px 100px;
}
.mb-icon {
  display: inline-block;
  padding-left: 20px;
  color: rgb(107, 107, 107);
  width: 80px !important;
}
.mb-icon:hover {
  color: rgb(218,218,218);
  text-decoration: none;
}
.profile-and-content {
  width: 100%;
}

.rating-and-content {
  height: 75%;
  width: 100%;
  font-size: 12px;
}

.rating-and-content > .rating {
  font-size: 12px;
  border-radius: 2px;
}

.rating-and-content > .rise {
  background-color: #352d2d;
}

.rating-and-content > .fall {
  background-color: #2d382e;
}

.rating-and-content > .rise span,
.rating-and-content > .fall span{
  display: none;
}

.rating-and-content .rating.rise:after {
  content: "▲ 看升";
}

.rating-and-content .rating.fall:after {
  content: "▼ 看跌";
}

/* =Stockpicker
---------------------------------------------------------------*/
#stockpicker-view{
  padding: 0;
  overflow: visible;
  display: block;
  opacity: 0;
}

#stockpicker-wrapper {
  height: 40px ;
}

.neutral > .white a{
  color: rgb(107, 107, 107);
}

#settings {
  background-color: black;
  width: 100%;
  height: 40px;
  border-right: #4d4d4d solid 1px;
  border-bottom: #4d4d4d solid 1px;
  float: left;
  background: url('../assets/chart/settings.png') no-repeat center;
}

#settings:hover {
  background-image: url('../assets/chart/settings-hover.png');
  cursor: pointer;
}

#stock-search {
  width: 100%;
  height: 40px;
  background-color: #1f1f1f;
  border-bottom: #4d4d4d solid 1px;
  padding: 5px 15px;
  font-size: 13px;
  color: #808080;
}

#stock-search:focus {
  outline: none;
}

#searchBar{
  width: 85%;
  height: 40px;
  float: right;
}

#search{
  float: right;
  width: 15%;
  height: 40px;
  border-bottom: #4d4d4d solid 1px;
}

#suggestion {
  height: 40px;
  width: 100%;
  padding: 10px;
  padding-top: 12px;
  border-bottom: #4d4d4d 1px solid;
  color: #808080;
  background-color: #3c3c3c;
  border-top: #464646 solid 1px;
  border-bottom: #464646 solid 1px;
}

.loader {
  height: 500px;
  background: url('../assets/chart/ajax-loader-small.gif') no-repeat center;
  background-color: #262626;
  border: #4d4d4d 1px solid;
  position: absolute;
  z-index: 20;
}

.panel-loader-wrapper {
  background-color: rgb(38, 38, 38);
}

.panel-loader {
  height: 500px;
  width: 300px;
  border: #4d4d4d 1px solid;
  background: url('../assets/chart/ajax-loader-small.gif') no-repeat center;
}

#loader-wrapper {
  display: inline-block;
}

#loading {
  width: 100%;
  min-height: 59px;
  background-color: #262626;
  background: url('../assets/chart/ajax-loader-small.gif') no-repeat center;
}

#login-wrapper {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  font-size: 14px;
}

#login-wrapper > div {
  margin: 10px;
  color: #808080;
}

.wrapper .center {
  width: 100%;
  height: 100%;
}

#login {
  width: 50%;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  background-color: #454545;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
}

#login:hover {
  cursor: pointer;
  background-color: #565656;
}

#search-button {
  background: url('../assets/chart/search.png') no-repeat center;
  background-color: #1f1f1f;
  width: 100%;
  height: 40px;
  border-bottom: #4d4d4d solid 1px;
  cursor: pointer;
}

#search-button:focus {
  outline: none;
}

.stock-table-container {
  position: relative;
}
.stock-table-header-border {
  position: absolute;
  width: 100%;
  top: 35px;
  border-bottom: #4d4d4d solid 1px;
}

#stock-table {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#stock-table th {
  padding: 10px;
  color: rgb(107, 107, 107);
}

#stock-table td {
  border-bottom: #4d4d4d solid 1px;
  padding: 12px 5px;
  margin: 5px;
}
#stock-table tr:last-child td {
  border-bottom: transparent solid 1px;
}

#stock-table td {
  width: 22.5%;
}
#stock-table td:first-child {
  width: 10%
}

.zxg-ticker { text-align: left; }
.zxg-price { text-align: right; padding-right: 10px !important; }
.zxg-price-change-rel { text-align: right; padding-right: 10px !important ; }
.zxg-price-change-abs { text-align: right; padding-right: 10px !important ; }

#stock-table > tbody > tr > td {
  vertical-align: middle;
}
#stock-table > tbody > tr.rise > td > div.indicator,
#stock-table > tbody > tr.fall > td > div.indicator,
#stock-table > tbody > tr.neutral > td > div.indicator {
  width: 20px;
  height: 20px;
}

#stock-table > tbody > tr.rise > td > div.indicator {
  background: url('../assets/chart/up-arrow.png') no-repeat center;
}

#stock-table > tbody > tr.neutral > td > div.indicator {
  background: url('../assets/chart/no-change.png') no-repeat center;
}

#stock-table > tbody > tr.fall > td > div.indicator{
  background: url('../assets/chart/down-arrow.png') no-repeat center;
}

.sub-stock {
  background-color: #262626;
  width: 150px;
  height: 100%;
  left: -150px !important;
  border: #4d4d4d solid 1px;
  font-size: 12px;
}

.sub-stock > li {
  padding: 8px !important;
  border: none !important;
}

.sub-stock > li > div {
  border-radius: 3px;
  padding: 15px;
}

.sub-stock > li:hover > div {
  background-color: #373737 !important;
  color: #40a3dc;
}

/* =News
---------------------------------------------------------------*/
.news-block {
  width: 100%;
  padding: 0px;
  height: 150px;
  border-bottom: rgb(107, 107, 107) solid 1px;
}
.news-block:last-child {
  border-bottom: transparent solid 1px;
}

.calendar-and-date {
  width: 100%;
  height: 20px;
}
.sub-stock ul {
  left: -400px !important;
  border: #4d4d4d solid 1px;
  border-top: none;
}

.sub-stock ul li {
  padding: 0 !important;
}

.sub-stock > li > ul > li:first-child {
  border-bottom: none !important;
}

.sub-stock > li > ul > li:last-child {
  background-color: #262626;
  padding: 9px !important;
  border-top: none;
}

.sub-stock-table {
  width: 400px;
  height: 100%;
  background-color: #262626;
  color: #fff;
}

.sub-stock-table td,
.sub-stock-table th{
  padding: 20px;
  border-bottom: #373737 solid 1px;
}

/* =News
---------------------------------------------------------------*/
#news-view {
  padding: 15px 20px;
  overflow: hidden;
}
.news-block {
  width: 100%;
  padding: 5px;
  height: 150px;
  border-bottom: rgb(107, 107, 107) solid 1px;
}

.sub-stock-table tbody tr td:last-child {
  text-align: center;
}

.sub-stack-table tbody tr td a {
  color: rgb(107, 107, 107);
}

.sub-stock-table > tbody > tr > td.fall {
  color: #3bbb57;
}

.sub-stock-table tr:last-child {
  border: none;
}

.calendar,
.date {
  display: inline-block;
}

.calendar {
  width: 10%;
  height: 100%;
  background: url('../assets/chart/calendar.png') no-repeat left;
}

.date {
  height: 100%;
  color: #fff;
  vertical-align: top;
}

.news-block .content {
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
}

.sentiment-news {
  display: inline-block;
  margin-top: 10px;
  border: rgb(107, 107, 107) solid 1px;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 12px;
}

.sentiment-news .arrow.rise {
  background: url('../assets/chart/up-arrow.png') no-repeat center;
}

.sentiment-news .arrow.fall {
  background: url('../assets/chart/down-arrow.png') no-repeat center;
}

.rating .arrow,
.rating .percentage {
  display: inline-block;
  vertical-align: bottom;
}

.time-and-source {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.time-and-source .time,
.time-and-source .source {
  display: inline-block;
}

.time-and-source .time {
  color: rgb(107, 107, 107);
}

.time-and-source .source {
  margin-left: 10px;
  color: rgb(107, 107, 107);
}

.sub-stock > li > ul > li:last-child {
  text-align: center;
}


.sub-stock-table tbody tr td:last-child {
  text-align: center;
}

.sub-stack-table tbody tr td a {
  color: rgb(107, 107, 107);
}

/* =Tooltip
-------------------------------------------------------------- */
#tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 180px;
  font-size: 11px;
  background-color: rgb(15, 15, 15);
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #454545;
}

#tooltip > ul > li {
  padding: 4px 8px;
}

.tt-title {
  color: #fff;
}

#tooltip > ul > li.tt-title {
  background-color: #454545;
  padding: 7px 8px;
}
#tooltip > ul > li.tt-subtitle {
  color: rgb(140, 140, 140);
  background-color: #2a2a2a
}
#tooltip > ul > li.tt-row {
  color: rgb(140, 140, 140);
  background-color: #363636;
}
#tooltip > ul > li.tt-lastrow {
  background-color: #363636;
}
.tt-label {
  display: inline-block;
  width: 40%;
  color: rgb(140, 140, 140);
}
.tt-value {
  display: inline-block;
  width: 60%;
  color: #fff;
  text-align: right;
}

/* =Toolbar
-------------------------------------------------------------- */
#toolbar {
  position: absolute;
  left: 54px;
  top: 49px;
  z-index: 10;
}
ul.toolbar > li {
  display: inline-block;
  height: 18px;
  margin-top: 2px;
}
ul.toolbar > li.zoom {
  margin-top: 0px;
}
ul.toolbar > li > a {
  color: rgb(120, 120, 120);
  padding: 3px 10px;
  margin: 1px;
}
ul.toolbar > li > a:hover,
ul.toolbar > li.active > a,
ul.toolbar > li.active > a:hover {
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
}

#rsi-button > div > ul > li > input{
  vertical-align: top;
}

#zoomin {
  margin-right: 10px;
}

#rsi > .wrapper > .title,
#rsi > .wrapper > .buttons,
#macd > .wrapper > .title,
#macd > .wrapper > .title,{
  display: inline-block;
}

#rsi > .wrapper > .buttons,
#macd > .wrapper > .buttons {
  margin-right: -6px;
  width: 100px;
  height: 20px;
}

#macd > .wrapper > .buttons {
  width: 180px;
}

#rsi> .wrapper > .buttons {
  width: 250px;
}

#rsi> .wrapper > .buttons > ul > li {
  display: inline-block;
  padding-left: 5px;
}

#rsi > .wrapper > .buttons > ul,
#rsi > .wrapper > .buttons > .close {
  display: inline-block;
}

#rsi-chart-container {
  width: 100%;
}

#rsi-chart { position: relative; }

#rsi6-legend {
  color: #fff;
}

#rsi12-legend {
  color: #d8db74;
}

#rsi12-legend-line{
  border-color: #d8db74;
}

#rsi24-legend {
 color: #784e7a;
}

#rsi24-legend-line {
  border-color: #784e7a;
}

#rsi6-legend-line {
  border-color: #fff;
}

#macd > .wrapper > .buttons > ul,
#macd > .wrapper > .buttons > .close {
  display: inline-block;
}

#rsi > .wrapper > .buttons,
#macd > .wrapper > .buttons {
  float: right;
}

.wrapper > .buttons > .close {
  background: url('../assets/chart/close.png') no-repeat center;
  width: 20px;
  height: 15px;
  float: right;
  cursor: pointer;
}

#rsi > .wrapper,
#macd > .wrapper{
  /*height: 20px;*/
}


#macd {
  display: none;
}

#ma60-label{
  color: #36973a;
}
#ma20-label{
  color: #94599d;
}

#ma10-label{
  color: #d8db74;
}
#ma5-label{
  color: #fff;
}

/* =Modal
-------------------------------------------------------------- */
#experts-modal {
  display: none;
  position: fixed;
  opacity: 0;
  background-color: #363636;
  color: rgb(216,216,216);
  border: 1px solid #4d4d4d;
  z-index: 15000;
  left: 50%;
  margin-left: -202px;
  top: 200px;
  width: 420px;
  z-index: 11000;
  left: 50%;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#experts-modal h1 {
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
}

#experts-modal h2 {
  text-align: center;
  padding: 10px 10px;
  border-bottom: 1px dotted #4d4d4d;
  font-size: 12px;
  color: rgb(107, 107, 107);
}

#experts-modal .content {
  padding: 20px 10px;
  font-size: 12px;
}

#experts-modal .modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 23px;
  width: 23px;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
