/* =Table of Contents
--------------------------------------------------------------
  =General
  =Layout
  =Nav
  =Dropdown menu
  =SVG
  =Dashboard
  =Price Chart
  =Sentiment Chart
  =Right Panel
  =Experts
  =Stockpicker
  =Stockpicker Autocomplete
  =Stockpicker Add Panel
  =News
  =News Tabs
  =Tooltip
  =Toolbar
  =Modal
-------------------------------------------------------------- */

/* =General
-------------------------------------------------------------- */
.outer * {
  font-family: Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden !important;
}
body {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

body::-webkit-scrollbar {
  width: 0em !important;
}

.outer .mb-nav:before, .outer .mb-nav:after {
  display: table;
  content: " ";
  clear: both;
}
.outer .no-right-padding { padding-right: 0px; }
.outer .pull-right {
  float: right !important;
}
.outer .noscroll {
  overflow: hidden !important;
}
.outer, #price, #macd, #rsi, #sentiment, #about-index-view, #experts-view {
  visibility: hidden;
}

.outer input[type="checkbox"] {
  display: none;
}

.outer input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-position: 0px -25px;
    margin-top: -5px;
    margin-right: 5px;
    margin-left: -5px;
}

.outer input[type="checkbox"]:checked + label span {
    background-position: 0px 0px;
}

.outer.lt-ie9 input[type="checkbox"] {
  display: inline;
}

.outer.lt-ie9 input[type="checkbox"] + label span {
    width: 0;
    height: 0;
    background: none;
    margin: 0 0 0 0;
}

.outer .scroller {
    overflow: hidden;
}

.outer .scroller::-webkit-scrollbar {
    width: 0;
}

.outer .scroller__bar {
  display: none;
}

.outer .baron .scroller__bar {
  display: block;
  opacity: 0;
  position: absolute;
  width: 10px;
  background: #595959;
  z-index: 1;
  border-radius: 3px;
  height: 7px;
  bottom: 0px;
}

/* =Scroll bar
------------*/
/*.scroll-bar {
  position: relative;
  width: 100%;
  height: 15px;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  background: white;
}

.handle {
  position: absolute;
  height: 20px;
  top: 0px;
}

.handle:hover {
  cursor: pointer;
}

.bar {
  background-color: #777;
  border-radius: 3px;
  height: 7px;
  opacity: 1;
}

.bar:hover {
  cursor: pointer;
}*/

#alert-box {
  position: fixed;
  display: none;
  left: 40%;
  top: 25%;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  background-color: #D7D7CD;
  color: rgb(47, 184, 244);
  z-index: 999;
}

/* =Layout
-------------------------------------------------------------- */

.outer .info-button {
  position: absolute;
  top: 3px;
  margin-left: 3px;
}
.outer .rise { color: #d74e37; }
.outer .fall { color: #3bbb57; }
.outer .neutral { color: rgb(107, 107, 107); }
.outer .white, .outer .white a { color: #fff;}

.outer {
  overflow: hidden;
  background-color: rgb(15, 15, 15);
  padding-top: 15px;
}

.outer .component-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
  margin-right: 1%;
  width: 97%;
}

.outer .component {
  color: #fff;
  position: relative;
  background-color: rgb(38, 38, 38);
  border: 1px solid rgb(51, 51, 51);
  margin-bottom: 5px;
  padding: 7px;
  padding-left: 0;
  padding-right: 0;
}

.outer .btn-buy-sell-wrapper {
  display: inline-block;
  padding: 5px 10px 5px 0px;
  vertical-align: middle;
  float: right;
}

.outer .component-item {
  float: left;
}

.outer .empty-data {
  position: absolute;
  top: 35%;
  left: 40%;
  right: 35%;
  bottom: 35%;
}

.outer .empty-data-right-panel {
  margin: 200px auto;
  text-align: center;
}

.outer #sentiment-chart-label .empty-data,
.outer #index-no-data {
  top: 45%;
}

.outer #right-panel-data {
  width: 80%;
  left: 20%;
}

/* =Dropdown menu
-------------------------------------------------------------- */
.outer .link-dropdown {
  position: relative;
}
.outer .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #353535;
  width: 120px;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #454545;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
}

.outer #ma-dropdown-menu {
  width: 125px;
}

/* replaces js/toolbar/toolbar.js initDropdown function  */
.outer .link-dropdown:hover > .dropdown-menu {
  display: block;
}

.outer .dropdown-menu > ul > li {
  padding: 10px 12px;
  font-size: 12px;
  color: #fff;
}
.outer .dropdown-menu > form > ul > li {
  padding: 6px 12px;
  color: #fff;
}

.outer .dropdown-menu > ul > li:hover {
  padding: 10px 12px;
  background-color: #434343;
}

.outer .dropdown-menu > form > ul > li:hover {
  padding: 6px 12px;
  background-color: #434343;
}

.outer .dropdown-menu > ul > li > a:hover {
  color: #29a3d3;
  text-decoration: none;
}
.outer label.checkbox-label input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
.outer .dropdown-menu > ul > li > a {
  padding: 6px 12px;
}
.outer .dropdown-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}

/* =SVG
-------------------------------------------------------------- */
.outer text {
  fill: rgb(107, 107, 107);
  font-size: 10px;
}
.outer text.sentiment {
  fill: white;
  cursor: default;
}
/* =Dashboard
-------------------------------------------------------------- */
.outer #snapshot {
  z-index: 1;
  min-height: 75px;
}

.outer .value-label {
  font-size: 16px;
  line-height: 22px;

  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.outer .value-sublabel {
  font-size: 10px;
  line-height: 12px;
}

.outer .component-item-price .title {
  color: rgb(107, 107, 107);
}


.outer .component-item-price {
  width: 120px;
  height: 48px;
  margin-top: 4px;
  display: inline-block;
}

.outer .prediction, .outer .indicator {
  display: inline-block;
}

.outer .prediction-mood {
  width: 130px;
}

.outer.lt-ie9 .prediction-mood {
  width: 125px;
}

.outer .component-item-price.ind {
  width: 100px;
}

.outer .component-item-price.thermo {
  width: 195px;
}

.outer .prediction, .outer .indicator {
  display: inline-block;
}

.outer .indicator {
  width: 48px;
  height: 40px;
}

.outer .fall .indicator {
  background: url('../assets/chart/trend-indicator-down.png') no-repeat center;
}

.outer .fall .indicator.strong  {
  background: url('../assets/chart/trend-indicator-strong-down.png') no-repeat center;
}

.outer .neutral .indicator  {
  background: url('../assets/chart/trend-indicator-flat.png') no-repeat center;
}

.outer .rise .indicator {
  background: url('../assets/chart/trend-indicator-up.png') no-repeat center;
}

.outer .rise .indicator.strong {
  background: url('../assets/chart/trend-indicator-strong-up.png') no-repeat center;
}

.outer .thermo-wrapper {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 55px;
}

.outer .thermometer {
  position: absolute;
  width: 100%;
  top: 0px;
}

.outer .thermo-wrapper .background {
  position: absolute;
  left: 105px;
  width: 50px;
  bottom: -4px;
  z-index: -1;
}
.outer .thermo-wrapper .background-full {
  position: absolute;
  background-color: #fff !important;
  left: 105px;
  width: 50px;
  height: 100%;
  bottom: -4px;
  z-index: -10;
}
.outer .thermo-wrapper .previous-sentiment-dotted-line {
  position: absolute;
  border-top: 1px dotted rgb(90,90,90);
  left: 120px;
  width: 25px;
  bottom: -4px;
  z-index: 10;
}
.outer .fall .thermo-wrapper .background {
  background-color: #3bbb57;
}

.outer .neutral .thermo-wrapper .background {
  background-color: rgb(107, 107, 107);
}

.outer .rise .thermo-wrapper .background {
  background-color: #ff372f;
}

.outer #changes {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.outer .changes {
  position: absolute;
  top: 8px;
  left: 145px;
  height: 100%;
  vertical-align: top;
  font-size: 15px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.outer .title,
.outer .legend {
  display: inline;
}

@media (max-width: 1024px){
  .outer .btn-buy-sell-wrapper {
    float: none;
    margin-top: 10px;
  }
}
@media (max-width: 1200px) and (min-width: 1024px) {
  .outer .btn-buy,
  .outer .btn-sell {
    width: 90px;
  }
}

.outer #indicator-tooltip {
  display: none;
  width: 150px;
  height: 100px;
  font-size: 11px;
  background-color: #363636;
  position: absolute;
  top: 65px;
  left: 400px;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #454545;
}

.outer #indicator-tooltip .tt-title {
  background-color: #454545;
}

.outer #indicator-tooltip > ul {
  width: 148px;
  height: 98px;
}

.outer #indicator-tooltip > ul > li{
  padding: 5px;
  background-color: #363636;
}


/* =Charts
-------------------------------------------------------------- */

.outer #macd-chart { position: relative; }

.outer #macd-dea-legend {
  color: #d8db74;
}

.outer #macd-legend {
  color: #236a82;
}

.outer #macd-dea-legend-line {
  border-color: #d8db74;
}

.outer #macd-legend-line {
  border-color: #236a82;
}

.outer #macd > .wrapper > .buttons > ul > li {
  display: inline-block;
}

.outer #price >.legend,
.outer #sentiment > .legend,
.outer #macd .legend,
.outer #rsi  .legend {
  margin-right: 15px;
}

.outer .legend > li{
  display: inline;
  padding-right: 10px;
}

.outer .legend{
  float: right;
}

.outer .legend-line {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.outer #ma5-legend-line  { border-color: #ffffff; }
.outer #ma10-legend-line { border-color: #d7db74; }
.outer #ma20-legend-line { border-color: #94599d; }
.outer #ma60-legend-line { border-color: #36973a; }
.outer #sentiment-legend-line { border-color: #25bcf1; }
.outer #security-legend-line { border-color: #FFFFFF; }

.outer #ma5-legend { color: #ffffff;  }
.outer #ma10-legend { color: #d7db74; }
.outer #ma20-legend { color: #94599d; }
.outer #ma60-legend { color: #36973a; }
.outer #sentiment-legend { color: #25bcf1; }
.outer #security-legend { color: #FFFFFF; }

.outer .legend-line,
.outer .legend > li > span {
  display: inline-block;
}

.outer #y2labelLineActive {
  z-index: -1;
}

.outer .y2labels > text{
  z-index: 1;
}

.outer .btn {
  padding: 14px 12px 13px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  color: #fff;
}
.outer .btn:focus,
.outer .btn:active:focus,
.outer .btn.active:focus,
.outer .btn.focus,
.outer .btn:active.focus,
.outer .btn.active.focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.outer .btn:hover,
.outer .btn:focus,
.outer .btn.focus {
  color: #fff;
  text-decoration: none;
}
.outer .btn:active,
.outer .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.outer .btn.disabled,
.outer .btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.outer .btn-buy {
  background-color: #d74e37;
  margin-left: 10px;
}

.outer .btn-buy,
.outer .btn-sell {
  display: inline-block;
  width: 180px;
  border-radius: 2px;
}

.outer .btn-buy a:hover,
.outer .btn-sell a:hover{
  text-decoration: none;
}

.outer .btn-buy:hover {
  background-color: #f77266;
}

.outer .btn-sell {
  margin-left: 5px;
  background-color: #3bbb57;
}

.outer .btn-sell:hover {
  background-color: #4ac665;
}

/* =Price Chart
-------------------------------------------------------------- */

.outer #price.component,
.outer #macd.component,
.outer #rsi.component,
.outer #sentiment.component {
  padding-top: 0px;
  padding-bottom: 20px;
}
.outer #sentiment.component {
  padding-bottom: 0;
}

.outer #chart {
  padding-bottom: 7px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.outer #chart:hover {
  cursor: pointer;
}

.outer .chart-header {
  padding: 8px 13px;
}

.outer #price .chart-header,
.outer #sentiment .chart-header {
  padding: 8px 35px 8px 13px;
}

.outer .container {
  position: absolute;
  top: 25px;
  overflow: scroll;
  width: calc(100% - 120px);
}

.outer .zoomable-chart-container{
  overflow: hidden;
  top: 31px;
  left: 45px;
  width: 100%;
}

.outer .zoomable-chart {
  z-index: 1;
  top: 0;
}

#chart-container {
  top: 31px;
}

.outer .mouseover-overlay {
  z-index: 999;
}

/* =Sentiment Chart
------------------------------------------------------------ */
#sentiment-tooltip {
  position: absolute;
  width: 280px;
  font-size: 11px;
  padding: 15px;
}

.sentiment-tooltip {
  border: #666 solid 1px;
  color: white;
}

.sentiment-tooltip .mood {
  padding-left: 2px;
  height: 22px;
  line-height: 22px
}

.sentiment-tooltip .content {
  line-height: 22px
}
.sentiment-tooltip a {
  color: white;
  text-decoration: none;
}


#sentiment-tooltip .news-bubble {
  width: 20px;
  height: 20px;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

#sentiment-tooltip .wrapper {
  background-color: #454545;
  padding: 2px;
  width: 248px;
  height: 100%;
}

#sentiment-tooltip > .wrapper > div {
  padding: 5px;
}

#sentiment-tooltip .wrapper .arrow {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

#sentiment-tooltip .wrapper .arrow.rise {
  background-image: url('../assets/chart/up-arrow.png');
}

#sentiment-tooltip .wrapper .arrow.fall {
  background-image: url('../assets/chart/down-arrow.png');
}

#sentiment-tooltip .wrapper .arrow,
#sentiment-tooltip .wrapper .arrow-text,
#sentiment-tooltip .wrapper .arrow-number,
#sentiment-tooltip .wrapper .content,
#sentiment-tooltip .wrapper .extra {
    display: inline-block;
}

#sentiment-tooltip .wrapper .arrow-wrapper {
  display: inline-block;
  line-height: 22px;
  float:right;
  padding-right: 5px;
}

#sentiment-tooltip .wrapper .arrow-text {
  color: rgb(170, 170, 170);
}



#sentiment-tooltip .wrapper .extra.hide {
  display: none;
}

#sentiment-tooltip .tooltip-date {
  background-color: #2a2a2a;
  color: rgb(107, 107, 107);
  padding: 5px 3px 5px 3px;
  width: 248px;
}
#sentiment-tooltip .tooltip-date div {
  float: right;
  padding-right: 5px;
  display: inline-block;
}


#sentiment-tooltip .news-bubble {
  position: absolute;
  width: 200px;
  height: 60px;
  pointer-events: none;
}

#sentiment-tooltip .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sentiment-chart-legend {
  color: rgb(160, 160, 160);

  position: absolute;
  top: 45px;
  left: 50px;
}

#sentiment-chart-legend li {
  padding-right: 5px;
}

#sentiment-chart-legend li,
#sentiment-chart-legend li div{
  display: inline-block;
}
/* =Nav
-------------------------------------------------------------- */
.outer .mb-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-right: 1px solid rgb(51, 51, 51);
  border-top: 1px solid rgb(51, 51, 51);
  background-color: rgb(31, 31, 31);
}
.outer .mb-nav > li {
  position: relative;
  display: block;
}
.outer .mb-nav > li > a {
  position: relative;
  display: block;
  padding: 8px 20px;
}
.outer .mb-nav > li > a:hover,
.outer .mb-nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.outer .mb-nav > li.disabled > a {
  color: #777;
}
.outer .mb-nav > li.disabled > a:hover,
.outer .mb-nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.outer .mb-nav .open > a,
.outer .mb-nav .open > a:hover,
.outer .mb-nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.outer .mb-nav .mb-nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.outer .mb-nav > li > a > img {
  max-width: none;
}
.outer .mb-nav-tabs > li {
  float: left;
  border: 1px solid rgb(51, 51, 51);
  background-color: rgb(38, 38, 38);
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.outer .mb-nav-tabs > li:first-child {
  margin-left: 0px;
}
.outer .mb-nav-tabs > li > a {
  line-height: 1.42857143;
  color: rgb(201, 201, 201);
  border: 0px;
  border-bottom: 2px solid transparent;
  text-align: center;
  font-size: 13px;
}
.outer .mb-nav-tabs > li > a:hover,
.outer .mb-nav-tabs > li > a:focus {
  color: rgb(201, 201, 201);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 2px solid transparent;
}
.outer .mb-nav-tabs > li.active > a,
.outer .mb-nav-tabs > li.active > a:hover,
.outer .mb-nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.outer .mb-nav-tabs > li > a.active {
  color: rgb(47, 184, 244);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 2px solid rgb(47, 184, 244);
  margin-right: 0px;
}
.outer .mb-nav-tabs > li > a.active:hover,
.outer .mb-nav-tabs > li > a.active:focus {
  color: rgb(47, 184, 244);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 2px solid rgb(47, 184, 244);
}

/* =Dropdown menu
-------------------------------------------------------------- */
.outer .link-dropdown {
  position: relative;
}
.outer .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #353535;
  width: 120px;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #454545;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
}

.outer.ie9 .dropdown-menu {
  top: 30%;
}

.outer #ma-dropdown-menu {
  width: 125px;
}

/* replaces js/toolbar/toolbar.js initDropdown function  */
.outer .link-dropdown:hover > .dropdown-menu{
  display: block;
}

.outer .dropdown-menu > ul > li{
  padding: 10px 12px;
  font-size: 12px;
  color: #fff;
}
.outer .dropdown-menu > form > ul > li{
  padding: 6px 12px;
  color: #fff;
}

.outer .dropdown-menu > ul > li:hover {
  padding: 10px 12px;
  background-color: #434343;
}
.outer .dropdown-menu > ul > li > a:hover {
  color: #29a3d3;
  text-decoration: none;
}
.outer label.checkbox-label input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.outer .dropdown-menu > ul > li > a {
  padding: 6px 12px;
}
.outer .dropdown-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}

/* =Snapshot
-------------------------------------------------------------- */
.outer .value-label {
  font-size: 16px;
  line-height: 22px;
}
.outer .value-sublabel {
  font-size: 10px;
  line-height: 12px;
}

/* =Right Panel
-------------------------------------------------------------- */
.outer #content {
  overflow: hidden;
  /*margin-right: 45px;*/
  margin-left: 10px;
  width: calc(100% - 325px);
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/*
#content.full {
  width: calc(100% - 60px);
}
*/
.outer #right-panel.collapsed { display: none; }
.outer #right-panel.uncollapsed { display: inline-flex; }

.outer #right-panel-collapsed.collapsed{
  display: none;
}
.outer #right-panel {
  float: right;
  width: 300px;
  margin-left: 15px;

  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.outer .vertical-collapse,
.outer .vertical-uncollapse {
  height: 60px;
  position: fixed;
  width: 15px;
  top: 200px;
}

.outer .vertical-collapse:hover,
.outer .vertical-uncollapse:hover {
  cursor: pointer;
}

.outer .vertical-collapse {
  background: url('../assets/chart/collapse-rightwards.png') no-repeat center;
  right: 300px;
}

.outer .vertical-uncollapse{
  background: url('../assets/chart/collapse-leftwards.png') no-repeat center;
  right: 30px;
  display: none;
}

.outer .vertical-collapse.collapse {
  background: url('../assets/chart/collapse-leftwards.png') no-repeat center;
}

.outer #right-panel .component {
  height: 100%;
}
.outer .mb-nav-tabs-full-width {
  border: 1px solid rgb(51, 51, 51);
  border-bottom: 0px;
  background-color: rgb(38, 38, 38);
}
.outer .mb-nav-tabs-full-width > li,
.outer .mb-nav-tabs-full-width > li:first-child {
  margin-left: -1px;
  margin-top: -1px;
}
.outer .mb-nav-tabs > li.close-button {
  width: 10%;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.outer .mb-nav-tabs > li.close-button > a:hover {
  background-color: transparent;
}
.outer .mb-nav-tabs > li.close-button > a {
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  background: url('../assets/chart/close.png') no-repeat center center;
  height: 35px;
}
.outer .mb-nav-tabs > li.close-button > a.active {
  border-bottom: 2px solid transparent;
}
.outer .link-about-index-view,
.outer .link-chart-view,
.outer .link-about-index-view:hover,
.outer .link-chart-view:hover {
  background-color: rgb(31, 31, 31);
}

.outer #right-panel-collapsed {
  position: absolute;
  right: 0;
  width: 30px;

  -webkit-transition: all 400ms ease-out 400ms;
  -moz-transition: all 400ms ease-out 400ms;
  -o-transition: all 400ms ease-out 400ms;
  transition: all 400ms ease-out 400ms;
}

.outer #right-panel-collapsed.collapsed {
  margin-right: -30px;
}

.outer .mb-nav-tabs-collapsed > li:first-child {
  margin-top: 0px;
}

.outer .mb-nav-tabs-collapsed > li {
  display: block;
  float: none;
  border: 1px solid rgb(107, 107, 107);
  margin-top: -1px;
}

.outer .mb-nav-tabs-collapsed > li > a {
  padding: 30px 10px;
  color: rgb(107, 107, 107);
}
.outer .mb-nav-tabs-collapsed > li > a:hover,
.outer .mb-nav-tabs-collapsed > li > a:visited,
.outer .mb-nav-tabs-collapsed > li > a:focus {
  background-color: transparent;
}
.outer .mb-nav-tabs-collapsed > li > a.active,
.outer .mb-nav-tabs-collapsed > li > a.active:hover {
  border-bottom: 2px solid transparent;
  color: rgb(107, 107, 107);
}

/* =Experts
---------------------------------------------------------------*/
.outer #experts-view {
  padding: 0px 0px 20px 0px;
  overflow: auto;
}

.outer .experts-header {
  padding: 20px 10px;
  background-color: #2d2d2d;
  cursor: pointer;
}

.outer .experts-header .name {
  color: rgb(48, 140, 180);
  border: 1px solid rgb(51, 51, 51);
  background-color: #1c1d1f;
  border-radius: 2px;
  padding: 2px 3px;
}

.outer .experts-header.disabled {
  cursor: auto;
}

.outer .experts-header .content {
  padding-top: 10px;
}

.outer .expert-block {
  width: 100%;
  background-color: rgb(38, 38, 38);
  border-bottom: rgb(107, 107, 107) dotted thin;
  margin-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
}
.outer .expert-block:last-child {
  border-bottom: transparent dotted thin;
}

.outer .profile-and-content {
  line-height: 22px;
}

.outer .profile-pic {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(107, 107, 107);
  margin-right: 10px;
  float: left;
}
.outer .name-and-date {
  width: 100%;
  height: 22px;
}

.outer .profile-and-content .name, .profile-and-content .date, .experts-header .date {
  display: inline-block;
  color: rgb(107, 107, 107);
}

.outer .profile-and-content a,
.outer .profile-and-content a:hover,
.outer .profile-and-content a:visited {
  color: #fff;
}

.outer .name {
  float: left;
}
.outer .date {
  float: right;
}

.outer .rating,
.outer .content {
  display: inline-block;
}
.outer .rating {
  padding: 0px 5px;
  line-height: 16px;
}
.outer .like-and-discussion {
  margin: 10px 0px 10px 100px;
}
.outer .mb-icon {
  display: inline-block;
  padding-left: 20px;
  color: rgb(107, 107, 107);
  width: 80px !important;
}
.outer .mb-icon:hover {
  color: rgb(218,218,218);
  text-decoration: none;
}
.outer .profile-and-content {
  width: 100%;
}

.outer .rating-and-content {
  height: 75%;
  width: 100%;
  font-size: 12px;
}

.outer .rating-and-content > .rating {
  font-size: 12px;
  border-radius: 2px;
}

.outer .rating-and-content > .rise {
  background-color: #352d2d;
}

.outer .rating-and-content > .fall {
  background-color: #2d382e;
}

.outer .rating-and-content > .rise span,
.outer .rating-and-content > .fall span{
  display: none;
}

.outer .rating-and-content .rating.rise:after {
  content: "▲ 看升";
}

.outer .rating-and-content .rating.fall:after {
  content: "▼ 看跌";
}

/* =Stockpicker
---------------------------------------------------------------*/
.outer #stockpicker-view{
  padding: 0;
  overflow: visible;
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.outer #stockpicker-wrapper {
  height: 40px ;
}

.outer .neutral > .white a{
  color: rgb(107, 107, 107);
}

.outer #suggestion {
  height: 40px;
  width: 100%;
  padding: 10px;
  padding-top: 12px;
  border-bottom: rgb(51, 51, 51) 1px solid;
  color: #808080;
  background-color: #3c3c3c;
  border-top: #464646 solid 1px;
  border-bottom: #464646 solid 1px;
}

.outer .loader {
  height: 420px;
  background: url('../assets/chart/ajax-loader-sm.gif') no-repeat center;
  background-color: #262626;
  border: rgb(51, 51, 51) 1px solid;
  z-index: 20;
}

.outer .panel-loader-wrapper {
  position: absolute;
  z-index: 999;
  background-color: rgb(38, 38, 38);
}

.outer .panel-loader {
  height: 500px;
  width: 300px;
  border: rgb(51, 51, 51) 1px solid;
  background: url('../assets/chart/ajax-loader-sm.gif') no-repeat center;
}

.outer .dashboard-loader {
  width: 100%;
  min-height: 59px;
  background-color: #262626;
  background: url('../assets/chart/ajax-loader-sm.gif') no-repeat center;
}

.outer #login-wrapper {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  font-size: 14px;
}

.outer #login-wrapper > div {
  margin: 10px;
  color: #808080;
}

.outer .wrapper .center {
  width: 100%;
  height: 100%;
}

.outer #login {
  width: 50%;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  background-color: #454545;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.outer #login:hover {
  cursor: pointer;
  background-color: #565656;
}

.outer .stock-table-container {
  position: relative;
}
.stock-table-header-border {
  position: absolute;
  width: 100%;
  top: 35px;
  border-bottom: rgb(51, 51, 51) solid 1px;
}

.outer #stock-table {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.outer #stock-table th {
  padding: 10px;
  color: rgb(107, 107, 107);
}

.outer #stock-table td {
  border-bottom: rgb(51, 51, 51) solid 1px;
  padding: 12px 5px;
  margin: 5px;
}
.outer #stock-table tr:last-child td {
  border-bottom: transparent solid 1px;
}

.outer #stock-table td {
  width: 22.5%;
}
.outer #stock-table td:first-child {
  width: 10%
}

.outer .zxg-ticker { text-align: left; }
.outer .zxg-price { text-align: right; padding-right: 10px !important; }
.outer .zxg-price-change-rel { text-align: right; padding-right: 10px !important ; }
.outer .zxg-price-change-abs { text-align: right; padding-right: 10px !important ; }

.outer #stock-table > tbody > tr > td {
  vertical-align: middle;
}
.outer #stock-table > tbody > tr.rise > td > div.indicator,
.outer #stock-table > tbody > tr.fall > td > div.indicator,
.outer #stock-table > tbody > tr.neutral > td > div.indicator {
  width: 20px;
  height: 20px;
}

.outer #stock-table > tbody > tr.rise > td > div.indicator {
  background: url('../assets/chart/up-arrow.png') no-repeat center;
}

.outer #stock-table > tbody > tr.neutral > td > div.indicator {
  background: url('../assets/chart/no-change.png') no-repeat center;
}

.outer #stock-table > tbody > tr.fall > td > div.indicator{
  background: url('../assets/chart/down-arrow.png') no-repeat center;
}

/* =Stockpicker Autocomplete
---------------------------------------------------------------*/
.outer #search-wrapper {
  display: inline-block;
  width: 85%;
}

.outer #stock-search {
  display: inline-block;
  float: right;
  width: 85%;
  height: 40px;
  background-color: #1f1f1f;
  border-bottom: rgb(51, 51, 51) solid 1px;
  padding: 5px 15px;
  font-size: 13px;
  color: #808080;
}

.outer #stock-search:focus {
  outline: none;
}

.outer #search-button {
  display: inline-block;
  background: url('../assets/chart/search.png') no-repeat center;
  background-color: #1f1f1f;
  width: 15%;
  height: 40px;
  border-bottom: rgb(51, 51, 51) solid 1px;
  cursor: pointer;
  float: right;
}

.outer #search-button:focus {
  outline: none;
}

.outer #search-result {
  position: absolute;
  background-color: #3c3c3c;
  top: 53px;
  width: 90%;
  left: 5%;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 10;
  display: none;
  border-radius: 3px
}

.outer #search-result:before {
    content: ' ';
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid #3c3c3c;

    top: -8px;
    left: 43%;
    z-index: 3;
}

.outer .search-block .stock-name a {
  color: #FFFFFF;
}

.outer .search-block .ticker {
  color: #808080;
  padding-left: 5px;
}

.outer .search-block:hover .ticker, 
.outer .search-block:hover .stock-name a {
  color: rgb(47, 184, 244);
}

.outer .search-block {
  padding: 10px;
  background-color: #3c3c3c;
  border-bottom: 1px solid rgb(107, 107, 107);
}

.outer .search-block:last-child {
  border-bottom: transparent solid 1px;
}

.outer .search-block:hover {
  background-color: #666666;
}

.outer .search-empty {
  padding: 10px;
  background-color: #3c3c3c;
}

.outer .search-add-stock-button {
  display: inline-block;
  float: right;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-top: 3px;
}

.outer .search-add-stock-button.not-selected {
  background: url('../assets/chart/plus-button.png') no-repeat center;
}

.outer .search-add-stock-button.selected {
  background: url('../assets/chart/tick-button.png') no-repeat center;
}

/* =Stockpicker Add Panel
---------------------------------------------------------------*/
.outer #right-panel-option-container {
  width: 15%;
  float: left;
}

.outer #right-panel-option-container ul {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
}

.outer #right-panel-option-container li:hover > ul {
  display: block;
}

.outer #settings {
  background-color: black;
  width: 100%;
  height: 40px;
  border-right: rgb(51, 51, 51) solid 1px;
  border-bottom: rgb(51, 51, 51) solid 1px;
  float: left;
  background: url('../assets/chart/settings.png') no-repeat center;
  cursor: pointer;
}

.outer #settings:hover {
  background-image: url('../assets/chart/settings-hover.png');
}

.outer #stock-add-panel {
  width: 220px;
  left: -221px;
  background-color: #373737;
  font-size: 14px;
  box-shadow: 0px 0px 10px #222;
}

.outer .add-panel-item {
  padding: 33px 30px 33px 30px;
  border-top: #5a5a5a solid 1px;
  border-left: #5a5a5a solid 1px;
  border-right: #5a5a5a solid 1px;
}

.outer .add-panel-item div {
  cursor: pointer;
}


.outer .add-panel-item:last-child {
  border-bottom: #5a5a5a solid 1px;
}

.outer .add-panel-item:hover {
  background-color: #262626;
}

.outer .add-panel-item-content {
  background-color: #262626;
  width: 160px;
  left: -160px;
  height: 100%;
  border: #5a5a5a solid 1px;
  font-size: 12px;
  padding: 10px 0px 10px 0px;
}

.outer .add-panel-sub-item > div {
  padding: 10px;
  margin: 5px 10px 5px 10px;
}

.outer .add-panel-sub-item:hover > div {
  border-radius: 3px;
  background-color: #373737;
  color: #40a3dc;
}

.outer #right-panel-option-container .add-stock-table {
  background-color: #262626;
  top: -1px;
  left: -353px;
  width: 353px;
  border: #5a5a5a solid 1px;
  font-size: 12px;
  padding: 5px 0px 0px 0px;
}

.outer #right-panel-option-container .add-stock-table.first-add-panel-item {
  top: 0px;
  left: -300px;
  width: 300px;
}

.outer .add-stock-table th {
  padding: 22px 15px 22px 15px;
}

.outer .add-stock-table td {
  padding: 22px 15px 22px 15px;
}

.outer .add-stock-table tr {
  border-bottom: 1px solid #373737;
}

.outer .add-panel-more {
  width: 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.outer .add-panel-more a {
  color: rgb(107, 107, 107);
}

.outer .add-stock-table .add-stock-name {
  width: 84px;
}

.outer .add-stock-table .add-stock-price {
  width: 66.5px;
}

.outer .add-stock-table .add-stock-change {
  width: 66.5px;
}

.outer .add-stock-table .add-stock-change-ratio {
  width: 70px;
}

.outer .add-stock-table .add-stock-button {
  width: 66px; /*84 + 66.5 + 66.5 + 70 + 66 = 353*/
}

.outer #stocktable1 .add-stock-name {
  width: 82.5px; /*27.5% of 300px (in .outer .add-stock-table.first-add-panel-item)*/
}

.outer #stocktable1 .add-stock-price {
  width: 82.5px; /*27.5% of 300px*/
}

.outer #stocktable1 .add-stock-change {
  width: 67.5px; /*22.5% of 300px*/
}

.outer #stocktable1 .add-stock-change-ratio {
  width: 67.5px; /*22.5% of 300px*/
}

.outer .add-stock-button span {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding-left: 28px; /*(66 - 10) / 2*/
  cursor: pointer;
  vertical-align: middle;
}

.outer .add-stock-button span.not-selected {
  background: url('../assets/chart/plus-button.png') no-repeat center;
}

.outer .add-stock-button span.selected {
  background: url('../assets/chart/tick-button.png') no-repeat center;
}

/* =News
---------------------------------------------------------------*/

.outer #news-content {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.outer #news-content a, 
.outer #news-content a:hover {
  color: #FFFFFF;
}

.outer .calendar-and-date {
  width: 100%;
  height: 37px;
  padding: 10px 17px 10px 20px;
  cursor: pointer;
}

.outer #press-by-time .calendar-and-date {
  background: url('../assets/chart/news-background.png') repeat-x top left;
  width: 300px; 
}

.outer #press-by-time .arrow-sign {
  background: url('../assets/mb-spritesheet.png') no-repeat top left;
  background-position: 0px -1866px; 
  width: 20px; 
  height: 20px;
  padding-left: 3px;
}

.outer #news-view {
  padding: 0px 0px 20px 0px;
  border: 0px;
  margin: 0px;
  overflow: auto;
}

.outer .calendar,
.outer .date,
.outer .number-of-msg,
.outer .arrow-sign {
  display: inline-block;
}
.outer #news-view .calendar,
.outer #news-view .date {
  float: left;
}

.outer .number-of-msg,
.outer .arrow-sign {
  float: right;
}

.outer .calendar {
  background: url('../assets/mb-spritesheet.png') no-repeat top left;
  width: 11px; 
  height: 10px;
  background-position: 0px -496px;
  margin: 5px 5px 0px 0px;
}

.outer .date {
  height: 100%;
  color: #fff;
  margin-top: 3px;
}

.outer .number-of-msg {
  color: rgb(107, 107, 107);
  margin-top: 3px;
}

.outer #news-content .content {
  width: 100%;
  font-size: 13px;
}

.outer #press-by-time div {
  clear: both;
}

.outer .sentiment-news {
  display: inline-block;
  margin-top: 3px;
  border: rgb(107, 107, 107) solid 1px;
  border-radius: 3px;
  padding: 2px 6px 2px 6px;
  font-size: 12px;
}

.outer .news-block {
  border-bottom: 1px solid #373737;
  padding: 15px 20px 15px 20px;
}

.outer #all-press .news-block:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.outer #press-by-time .time-block:last-child .news-block:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.outer .news-block .arrow {
  display: inline-block;
  vertical-align: middle;
  background: url('../assets/mb-spritesheet.png') no-repeat top left;
  width: 16px; 
  height: 13px;
  margin: 0px 5px 0px 3px;
}

.outer .news-block.rise .arrow {
  background-position: 0px -1642px;
}

.outer .news-block.fall .arrow {
  background-position: 0px -870px;
}

.outer .time-and-source {
  width: 100%;
  margin-top: 3px;
}

.outer .time-and-source .time,
.outer .time-and-source .source {
  display: inline-block;
}

.outer .time-and-source .time {
  color: rgb(107, 107, 107);
}

.outer .time-and-source .source {
  margin-left: 10px;
  color: rgb(107, 107, 107);
}

/* =News Tabs
---------------------------------------------------------------*/
.outer #news-tabs {
  width: 100%;
  height: 65px;
  padding: 20px 20px 20px 20px;
}

.outer #news-tabs li {
  float: left;
  overflow: hidden;
  position: relative;
  width: 50%;
  border: 1px solid #595959;
  padding: 0;
  list-style: none;
}

.outer #news-tabs li a {
  display: block;
  color: #595959;
  padding: 5px 0px 5px 0px;
  text-align: center;
  text-decoration: none;
}

.outer #news-tabs li a:hover {
  background-color: #595959;
  color: #FFFFFF;
}

.outer #news-tabs li.active a {
  background-color: #595959;
  color: #FFFFFF;
}
    
.outer #news-tabs li.active a:hover {
  background-color: #595959;
  color: #FFFFFF;
}

/* =Tooltip
-------------------------------------------------------------- */
.outer #tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 180px;
  font-size: 11px;
  background-color: rgb(15, 15, 15);

  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";

  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.87);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.87);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #454545;
}

.outer #tooltip > ul > li {
  padding: 4px 8px;
}

.outer .tt-title {
  color: #fff;
}

.outer #tooltip > ul > li.tt-title {
  background-color: #454545;
  padding: 7px 8px;
}
.outer #tooltip > ul > li.tt-subtitle {
  color: rgb(140, 140, 140);
  background-color: #2a2a2a
}
.outer #tooltip > ul > li.tt-row {
  color: rgb(140, 140, 140);
  background-color: #363636;
}
.outer #tooltip > ul > li.tt-lastrow {
  background-color: #363636;
}
.outer .tt-label {
  display: inline-block;
  width: 40%;
  color: rgb(140, 140, 140);
}
.outer .tt-value {
  display: inline-block;
  width: 60%;
  color: #fff;
  text-align: right;
}

/* =Toolbar
-------------------------------------------------------------- */
.outer #toolbar {
  position: absolute;
  left: 54px;
  top: 49px;
  z-index: 10;
}
.outer ul.toolbar > li {
  display: inline-block;
  height: 18px;
  margin-top: 2px;
}
.outer ul.toolbar > li.zoom {
  margin-top: 0px;
}
.outer ul.toolbar > li > a {
  color: rgb(120, 120, 120);
  padding: 3px 10px;
  margin: 1px;
}
.outer ul.toolbar > li > a:hover,
.outer ul.toolbar > li.active > a,
.outer ul.toolbar > li.active > a:hover {
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
}

.outer #rsi-button > div > ul > li > input{
  vertical-align: top;
}

.outer #zoomin {
  margin-right: 10px;
}

.outer #rsi > .wrapper > .title,
.outer #rsi > .wrapper > .buttons,
.outer #macd > .wrapper > .title,
.outer #macd > .wrapper > .title,{
  display: inline-block;
}

.outer #rsi > .wrapper > .buttons,
.outer #macd > .wrapper > .buttons {
  margin-right: -6px;
  width: 100px;
  height: 20px;
}

.outer #macd > .wrapper > .buttons {
  width: 180px;
}

.outer #rsi > .wrapper > .buttons {
  width: 250px;
}

.outer #rsi > .wrapper > .buttons > ul > li {
  display: inline-block;
  padding-left: 5px;
}

.outer #rsi > .wrapper > .buttons > ul,
.outer #rsi > .wrapper > .buttons > .close {
  display: inline-block;
}

.outer #rsi-chart-container {
  width: 100%;
}

.outer #rsi-chart { position: relative; }

.outer #rsi6-legend {
  color: #fff;
}

.outer #rsi12-legend {
  color: #d8db74;
}

.outer #rsi12-legend-line{
  border-color: #d8db74;
}

.outer #rsi24-legend {
 color: #784e7a;
}

.outer #rsi24-legend-line {
  border-color: #784e7a;
}

.outer #rsi6-legend-line {
  border-color: #fff;
}

.outer #macd > .wrapper > .buttons > ul,
.outer #macd > .wrapper > .buttons > .close {
  display: inline-block;
}

.outer #rsi > .wrapper > .buttons,
.outer #macd > .wrapper > .buttons {
  float: right;
}

.outer .wrapper > .buttons > .close {
  background: url('../assets/chart/close.png') no-repeat center;
  width: 20px;
  height: 15px;
  float: right;
  cursor: pointer;
}

.outer #rsi > .wrapper,
.outer #macd > .wrapper {
  /*height: 20px;*/
}

.outer #macd {
  display: none;
}

.outer #ma5-label{ color: #fff; }
.outer #ma10-label{ color: #d7db74; }
.outer #ma20-label{ color: #94599d; }
.outer #ma60-label{ color: #36973a; }

.outer input[type="radio"] {
  display: none;
}

.outer input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    margin-right: 5px;
    margin-left: -5px;
}

.outer input[type="radio"]:checked + label {
    color: rgb(48, 140, 180);
}

.outer #minute-radio + label span {
  background-position: 0px -152px;
}

.outer #minute-radio:checked + label span {
    background-position: 0px -129px;
}

.outer #day-radio + label span {
  background-position: 0px -106px;
}

.outer #day-radio:checked + label span {
    background-position: 0px -83px;
}

.outer #week-radio + label span {
  background-position: 0px -198px;
}

.outer #week-radio:checked + label span {
    background-position: 0px -175px;
}

/* =Modal
-------------------------------------------------------------- */
.outer .modal {
  display: none;
  position: fixed;
  opacity: 0;
  background-color: #363636;
  color: rgb(216,216,216);
  border: 1px solid rgb(51, 51, 51);
  z-index: 15000;
  left: 50%;
  margin-left: -202px;
  top: 200px;
  width: 800px;
  z-index: 11000;
  left: 50%;
  line-height: 150%;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.outer .modal h1 {
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
}

.outer .modal h2 {
  text-align: center;
  padding: 10px 10px;
  border-bottom: 1px dotted rgb(51, 51, 51);
  font-size: 12px;
  color: rgb(107, 107, 107);
}

.outer .modal .content {
  padding: 20px 10px;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.outer .modal .modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 23px;
  width: 23px;
}

.outer #lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
