/* =Table of Contents
--------------------------------------------------------------
  =General
  =Layout
  =Nav
  =Dropdown menu
  =SVG
-------------------------------------------------------------- */

/* =General
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-color: rgb(15, 15, 15);
  color: #fff;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}
.nav:before, .nav:after {
  display: table;
  content: " ";
  clear: both;
}
.no-right-padding { padding-right: 0px; }
.pull-right {
  float: right !important;
}

/* =Layout
-------------------------------------------------------------- */
.rise { color: #f65c4e; }
.fall { color: #3bbb57; }
.neutral { color: rgb(107, 107, 107); }
.white, .white a { color: #fff;}

.outer {
  overflow-x: hidden;
  /*position: relative;*/
}

.component-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.component {
  position: relative;
  background-color: rgb(38, 38, 38);
  border: 1px solid #4d4d4d;
  margin-bottom: 10px;
  padding: 10px;
}

.btn-buy-sell-wrapper {
  display: inline-block;
  width: 400px;
  height: 48px;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .btn-buy-sell-wrapper {
    float: right;
  }
}


@media (max-width: 1152px) {
  .btn-buy-sell-wrapper {
     margin-top: 30px;
  }
}

.component-item {
  float: left;
}
.component-item-price .title {
  color: rgb(107, 107, 107);
}

.component-item-price {
  width: 100px;
  height: 48px;
  display: inline-block;
}

.prediction, .indicator {
  display: inline-block;
}

.component-item-price.ind {
  width: 100px;
}

.component-item-price.thermo {
  width: 230px;
}

.prediction, .indicator {
  display: inline-block;
}

.indicator {
  width: 48px;
  height: 40px;
}

.fall .indicator {
  background: url('../assets/chart/trend-indicator-down.png') no-repeat center;
}

.fall .indicator.strong  {
  background: url('../assets/chart/trend-indicator-strong-down.png') no-repeat center;
}

.neutral .indicator  {
  background: url('../assets/chart/trend-indicator-flat.png') no-repeat center;
}

.rise .indicator {
  background: url('../assets/chart/trend-indicator-up.png') no-repeat center;
}

.rise .indicator.strong{
  background: url('../assets/chart/trend-indicator-strong-up.png') no-repeat center;
}

.thermo-wrapper {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 55px;
}

.vertical-line {
  border: rgb(107, 107, 107) solid 1px;
  border-top: none;
  width: 100%;
  height: 0;
}

.diagonal-line {
  border: rgb(107, 107, 107) solid 1px;
  border-top: none;
  width: 30px;
  height: 0;
  -ms-transform: rotate(315deg) translate(-30px, 17px);
  -webkit-transform: rotate(315deg) translate(-30px, 17px);
  transform: rotate(315deg) translate(-30px, 17px);
  position: absolute;
  z-index: 1;
}

.thermo-wrapper .vertical-line {
  width: 10px;
  -ms-transform: translate(15px ,23px);
  -webkit-transform: translate(15px ,23px);
  transform: translate(15px ,23px);
  position: absolute;
  z-index: 2;
}

.vertical-line.dotted {
  border-style: dotted;
  border-color: rgb(107, 107, 107);
  border-width: 1px;
  width: 25px;
  -ms-transform: translate(16px, 30px);
  -webkit-transform: translate(16px, 30px);
  transform: translate(16px, 30px);
}

.thermometer {
  position: absolute;
  background: url('../assets/chart/thermometer.png') no-repeat center;
  width: 100%;
  height: 55px;
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-25%);
}

.thermo-wrapper .background {
  position: absolute;
  width: 50%;
  height: 0%;
  bottom: 0;
  z-index: -1;
}
.fall .thermo-wrapper .background {
  background-color: green;
}

.neutral .thermo-wrapper .background {
  background-color: rgb(107, 107, 107);
}

.rise .thermo-wrapper .background {
  background-color: #f65c4e;
}
.changes {
  display: inline-block;
  width: 10%;
  height: 100%;
  vertical-align: top;
  font-size: 15px;
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}


.title,.legend {
  display: inline;
}

.legend > li{
  display: inline;
  padding-right: 10px;
}

.legend{
  float: right;
}

.legend-line {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

#ma5-legend-line  { border-color: #ffffff; }
#ma10-legend-line { border-color: #d7db74; }
#ma20-legend-line { border-color: #94599d; }
#ma60-legend-line { border-color: #36973a; }
#sentiment-legend-line { border-color: #25bcf1; }

#ma5-legend { color: #ffffff;  }
#ma10-legend { color: #d7db74; }
#ma20-legend { color: #94599d; }
#ma60-legend { color: #36973a; }
#sentiment-legend { color: #25bcf1; }

.legend-line, .legend > li > span {
  display: inline-block;
}

#y2labelLineActive {
  z-index: -1;
}

.y2labels > text{
  z-index: 1;
}

.btn {
  padding: 12px 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  color: #fff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-buy {
  background-color: #f65c4e;
  margin-left: 10px;
}

.btn-buy,
.btn-sell {
  display: inline-block;
  width: 180px;
  border-radius: 3px;
}

.btn-buy:hover {
  background-color: #f77266;
}

.btn-sell {
  background-color: #3bbb57;
}

.btn-sell:hover {
  background-color: #4ac665;
}

/* =Chart
-------------------------------------------------------------- */
.container {
  position: absolute;
  top: 0;
  overflow: scroll;
  left: 60px;
  width: calc(100% - 120px);
}

#chart {
  z-index: 1;
  top: 0;
}


/* =SentimentChart
------------------------------------------------------------ */
.tooltip {
  position: absolute;
  width: 200px;
  height: 60px;
  pointer-events: none;
}

.news-bubble{
  width: 20px
  height: 20px;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

.tooltip .wrapper {
  background-color: #454545;
  padding: 2px;
  width: 100%;
  height: 100%;
  border: #666 solid 1px;
}

.tooltip > .wrapper > div {
  padding: 5px;
}

.wrapper .arrow {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.wrapper .arrow.rise {
  background-image: url('../assets/chart/up-arrow.png');
}

.wrapper .arrow.fall {
  background-image: url('../assets/chart/down-arrow.png');
}

.wrapper .arrow,
.wrapper .content,
.wrapper .extra {
    display: inline-block;
}

.wrapper .extra.hide {
  display: none;
}

.tooltip-date {
  background-color: #666;
  padding: 5px;
}

.news-bubble {
  position: absolute;
  width: 200px;
  height: 60px;
  pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* =Nav
-------------------------------------------------------------- */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs > li {
  float: left;
  border: 1px solid #4d4d4d;
  background-color: rgb(38, 38, 38);
  margin-left: -1px;
  margin-bottom: -1px;
}
.nav-tabs > li:first-child {
  margin-left: 0px;
}
.nav-tabs > li > a {
  line-height: 1.42857143;
  color: rgb(107, 107, 107);
  border: 0px;
  border-bottom: 4px solid transparent;
  text-align: center;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: rgb(107, 107, 107);
  background-color: rgb(50, 50, 50);
  border: 0px;
  border-bottom: 4px solid transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs > li > a.active {
  color: rgb(48, 140, 180);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 4px solid rgb(48, 140, 180);
  margin-right: 0px;
  border-radius: 0px;
}
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: rgb(48, 140, 180);
  background-color: rgb(38, 38, 38);
  border: 0px;
  border-bottom: 4px solid rgb(48, 140, 180);
}

/* =Dropdown menu
-------------------------------------------------------------- */
.link-dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #353535;
  width: 120px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #131313;
  color: #fff;
}

#ma-dropdown-menu {
  width: 125px;
}

/* replaces js/toolbar/toolbar.js initDropdown function  */
.link-dropdown:hover > .dropdown-menu{
  display: block;
}

.dropdown-menu > ul > li{
  padding: 6px 12px;
  color: #fff;
}
.dropdown-menu > form > ul > li{
  padding: 6px 12px;
  color: #fff;
}

.dropdown-menu > ul > li:hover {
  padding: 6px 12px;
  background-color: #434343;
}
.dropdown-menu > ul > li > a:hover {
  color: #29a3d3;
  text-decoration: none;
}

label.checkbox-label input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}


.dropdown-menu > ul > li > a {
  padding: 6px 12px;
}
.dropdown-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}

/* =Snapshot
-------------------------------------------------------------- */
#snapshot {
  z-index: 1;
  height: 81px;
}
.value-label {
  font-size: 20px;
}
.value-sublabel {
  font-size: 12px;
}


/* =Right Panel
-------------------------------------------------------------- */
#content {
  overflow: hidden;
  /*margin-right: 45px;*/
  margin-left: 15px;
  width: calc(100% - 370px);
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/*
#content.full {
  width: calc(100% - 60px);
}
*/
#right-panel.collapsed { margin-right: -340px; }
#right-panel {
  float: right;
  width: 340px;
  margin-left: 15px;

  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.vertical-collapse,
.vertical-uncollapse{
  height: 60px;
  position: absolute;
  width: 15px;
  top: 200px;
}

.vertical-collapse:hover,
.vertical-uncollapse:hover {
  cursor: pointer;
}

.vertical-collapse {
  background: url('../assets/chart/collapse-rightwards.png') no-repeat center;
  right: 340px;
}


.vertical-uncollapse{
  background: url('../assets/chart/collapse-leftwards.png') no-repeat center;
  right: 30px;
  display: none;
}


.vertical-collapse.collapse {
  background: url('../assets/chart/collapse-leftwards.png') no-repeat center;
}

#right-panel .component {
  height: 500px;
}
.nav-tabs-full-width {
  border: 1px solid #4d4d4d;
  border-bottom: 0px;
  background-color: rgb(38, 38, 38);
}
.nav-tabs-full-width > li, .nav-tabs-full-width > li:first-child {
  margin-left: -1px;
  margin-top: -1px;
  height: 42px;
}
.nav-tabs > li.pin-button, .nav-tabs > li.close-button {
  width: 10%;
  border-left: 0px;
  border-right: 0px;
}
.nav-tabs > li.pin-button > a {
  padding-left: 0px;
  padding-right: 0px;
  border-right: 0px;
  background: url('../assets/chart/pin.png') no-repeat center center;
  height: 42px;
}
.nav-tabs > li.pin-button > a:hover, .nav-tabs > li.close-button > a:hover {
  background-color: transparent;
}
.nav-tabs > li.close-button > a {
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  background: url('../assets/chart/close.png') no-repeat center center;
  height: 42px;
}
.nav-tabs > li.close-button > a.active {
  border-bottom: 4px solid transparent;
}

#right-panel-collapsed {
  position: absolute;
  right: 0;
  width: 30px;

  -webkit-transition: all 400ms ease-out 400ms;
  -moz-transition: all 400ms ease-out 400ms;
  -o-transition: all 400ms ease-out 400ms;
  transition: all 400ms ease-out 400ms;
}
#right-panel-collapsed.collapsed {
  margin-right: -30px;
}
.nav-tabs-collapsed > li:first-child {
  margin-top: 0px;
}
.nav-tabs-collapsed > li {
  display: block;
  float: none;
  border: 1px solid rgb(107, 107, 107);
  margin-top: -1px;
}
.nav-tabs-collapsed > li > a {
  padding: 30px 10px;
  color: rgb(107, 107, 107);
}
.nav-tabs-collapsed > li > a:hover {
  background-color: transparent;
}
.nav-tabs-collapsed > li > a.active, .nav-tabs-collapsed > li > a.active:hover {
  border-bottom: 4px solid transparent;
  color: rgb(107, 107, 107);
}


#right-panel-option-container {
  width: 15%;
  float: left;
}

#right-panel-option-container ul {
  display: none;
  position: absolute;
  left: -200px;
  z-index: 10;
  top: 0;

}

#right-panel-option-container li:hover > ul{
  display: block;
}

#stock-search-form {
  width: 85%;
  float: right;
}

#stock {
  right: 45px;
  width: 200px;
  background-color: #373737;
  font-size: 15px;
  box-shadow: 0px 0px 10px #222;
}

#stock li {
  padding: 30px;
  border-bottom: #4d4d4d solid 1px;
}

#stock li:last-child {
  border-bottom: none;
}

#stock li:hover {
  background-color: #262626;
}


/* =SVG
-------------------------------------------------------------- */
text {
  fill: rgb(107, 107, 107);
}

/* =Expert
---------------------------------------------------------------*/
#experts-view {
  padding: 20px;
  overflow: scroll;
}

.expert-block {
  width: 100%;
  background-color: rgb(38, 38, 38);
  border-bottom: rgb(107, 107, 107) dotted thin;
  margin-top: 15px;
}

.profile-pic, .others {
  display: inline-block;
}

.profile-pic {
  width: 19%;
  height: 40px;
  background-color: white;
  float: left;
}

.others{
  width: 80%;
  height: 40px;
  float: right;
  padding-left: 2px;
}

.name-and-date {
  width: 100%;
  height: 50%;
}

.name, .date {
  display: inline-block;
  color: rgb(107, 107, 107);
}

.name {
  float: left;
}

.date {
  float: right;
}

.rating, .content {
  display: inline-block;
}

.like-and-discussion {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  vertical-align: middle; /* override common_base.css:6 */
}

.like {
  width: 40%;
  height: 100%;
  color: black;
  line-height: 1em;
}

.like > .text,
.discussion > .text {
  height: 100%;
  width: 48%;
  vertical-align: top;
  color: rgb(107, 107, 107);
}

.like > .text,
.like > .icon,
.discussion > .text,
.discussion > .icon {
  display: inline-block;
}

.like-and-discussion .active .text {
  color: #a9a9a9;
}

.like-and-discussion .like.active .icon {
  background-image: url('../assets/chart/like-hover.png');
}

.like-and-discussion .discussion.active .icon {
  background-image: url('../assets/chart/comments-hover.png');
}

.like > .icon {
  background: url('../assets/chart/like.png') no-repeat center;
}

.like > .icon.liked {
  background-image: url('../assets/chart/like-finish.png');
}

.like.active > .icon.liked {
  background-image: url('../assets/chart/like-finish-hover.png');
}

.like > .icon:hover {
  background-image: url('../assets/chart/like-hover.png');
}

.discussion > .icon {
  background: url('../assets/chart/comments.png') no-repeat center;
}

.discussion > .icon:hover {
  background-image: url('../assets/chart/comments-hover.png');
}

.like > .icon,
.discussion > .icon {
  width: 48%;
  height: 100%;
}

.discussion {
  width: 40%;
  height: 100%;
}

.discussion > .text,
.like > .text {
  -webkit-transform: translate(-20%, 30%);
  -ms-transform: translate(-20%, 30%);
  transform: translate(-20%, 30%);
}

.like, .discussion {
  display: inline-block;
  float: right;
}

.profile-and-content {
  width: 100%;
  height: 40px;
}

.rating-and-content {
  height: 75%;
  width: 100%;
  font-size: 12px;
}

.rating-and-content > .rating {
  font-size: 12px;
  border-radius: 2px;
}

.rating-and-content > .rise {
  background-color: #352d2d;
}

.rating-and-content > .fall {
  background-color: #2d382e;
}

.rating-and-content > .rise span,
.rating-and-content > .fall span{
  display: none;
}

.rating-and-content .rating.rise:after {
  content: "▲ 看升";
}

.rating-and-content .rating.fall:after {
  content: "▼ 看跌";
}


/*= Dashboard
--------------------------------------------------------------*/
@media (max-width: 1239px){
  #snapshot{
    height: 150px;
  }

  .btn-buy-sell-wrapper {
    float: none;
    margin-top: 10px;
  }
}



/* =Stockpicker
---------------------------------------------------------------*/
#stockpicker-view{
  padding: 0;
  overflow: visible;
  display: block;
  opacity: 0;
}

.panel-loader {
  height: 500px;
  width: 340px;
  background-color: #262626;
  background-image: url('../assets/chart/ajax-loader.gif') center no-repeat;
}

#stockpicker-view > .wrapper:first-child {
  width: 100%;
  height: 8%;
  overflow: visible;
}

.neutral > .white a{
  color: rgb(107, 107, 107);
}


#settings {
  background-color: black;
  width: 100%;
  height: 40px;
  border-right: #332 solid 1px;
  border-bottom: #332 solid 1px;
  float: left;
  background: url('../assets/chart/settings.png') no-repeat center;
}

#settings:hover {
  background-image: url('../assets/chart/settings-hover.png');
  cursor: pointer;
}

#stock-search {
  width: 100%;
  height: 40px;
  background-color: #1f1f1f;
  border-bottom: #332 solid 1px;
  padding: 5px;
  font-size: 15px;

  color: #808080;
}

#stock-search:focus {
  outline: none;
}

#searchBar{
  width: 85%;
  height: 40px;
  float: right;
}

#search{
  float: right;
  width: 15%;
  height: 40px;
  border-bottom: #332 solid 1px;
}

#suggestion {
  height: 40px;
  width: 100%;
  padding: 10px;
  border-bottom: #332 1px solid;
  color: #808080;
}

.loader {
  width: 1070px;
  height: 500px;
  background: url('../assets/chart/ajax-loader.gif') no-repeat center;
  background-color: #262626;
  position: absolute;
  z-index: 20;
}

#loader-wrapper {
  display: inline-block;
}

#loading {
  width: 280px;
  height: 40px;
  background: url('../assets/chart/ajax-loader-small.gif') no-repeat center;
  background-color: #262626;

}




#login-wrapper {
  width: 100%;
  height: 200px;
  border-bottom: #332 1px solid;
  margin: 0 auto;
  text-align: center;
}

#login-wrapper > div {
  margin: 10px;
}

.wrapper .center {
  width: 100%;
  height: 100%;
}

#login {
  width: 50%;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  background-color: #454545;
}

#login:hover {
  cursor: pointer;
  background-color: #565656;
}

#search-button {
  background: url('../assets/chart/search.png') no-repeat center;
  background-color: #1f1f1f;
  width: 100%;
  height: 40px;
  border-bottom: #332 solid 1px;
  cursor: pointer;
}

#search-button:focus {
  outline: none;
}

#stock-table {
  width: 100%;
  height: 100%;
  display: block;
}

#stock-table thead {
  overflow: visible;
  display: block;
  width: 100%;
  right: 0;
  margin-right: auto;
}

#stock-table tbody {
  overflow: scroll;
  display: block;
  width: 100%;
  height: 170px;
}

#stock-table th {
  border-bottom: #332 solid 1px;
  padding: 10px;
  color: rgb(107, 107, 107);
}

#stock-table td {
  border-bottom: #332 solid 1px;
  padding: 10px;
  margin: 5px;
}


#stock-table th,
#stock-table td {
  width: 20%;
}


#stock-table > tbody > tr > td {
  vertical-align: middle;
}
#stock-table > tbody > tr.rise > td > div.indicator,
#stock-table > tbody > tr.fall > td > div.indicator,
#stock-table > tbody > tr.neutral > td > div.indicator {
  width: 20px;
  height: 20px;
}

#stock-table > tbody > tr.rise > td > div.indicator {
  background: url('../assets/chart/up-arrow.png') no-repeat center;
}

#stock-table > tbody > tr.neutral > td > div.indicator {
  background: url('../assets/chart/no-change.png') no-repeat center;
}

#stock-table > tbody > tr.fall > td > div.indicator{
  background: url('../assets/chart/down-arrow.png') no-repeat center;
}

.sub-stock {
  background-color: #262626;
  width: 150px;
  height: 100%;
  left: -150px !important;
  border: #4d4d4d solid 1px;
  font-size: 12px;
}

.sub-stock > li {
  padding: 8px !important;
  border: none !important;
}

.sub-stock > li > div {
  border-radius: 3px;
  padding: 15px;
}

.sub-stock > li:hover > div {
  background-color: #373737 !important;
  color: #40a3dc;
}




#stock-table th {
  border-bottom: #332 solid 1px;
  padding: 10px;
  color: rgb(107, 107, 107);
}

#stock-table td {
  border-bottom: #332 solid 1px;
  padding: 10px;
  margin: 5px;
}

/* =News
---------------------------------------------------------------*/
.news-block {
  width: 100%;
  padding: 5px;
  height: 150px;
  border-bottom: rgb(107, 107, 107) solid 1px;
}

.calendar-and-date {
  width: 100%;
  height: 20px;
}
.sub-stock ul {
  left: -400px !important;
  border: #4d4d4d solid 1px;
  border-top: none;
}

.sub-stock ul li {
  padding: 0 !important;
}

.sub-stock > li > ul > li:first-child {
  border-bottom: none !important;
}

.sub-stock > li > ul > li:last-child {
  background-color: #262626;
  padding: 9px !important;
  border-top: none;
}

.sub-stock-table {
  width: 400px;
  height: 100%;
  background-color: #262626;
  color: #fff;
}

.sub-stock-table td,
.sub-stock-table th{
  padding: 20px;
  border-bottom: #373737 solid 1px;
}

/* =News
---------------------------------------------------------------*/
#news-view {
  padding: 20px;
  overflow: scroll;
}
.news-block {
  width: 100%;
  padding: 5px;
  height: 150px;
  border-bottom: rgb(107, 107, 107) solid 1px;
}

.sub-stock-table tbody tr td:last-child {
  text-align: center;
}

.sub-stack-table tbody tr td a {
  color: rgb(107, 107, 107);
}

.sub-stock-table > tbody > tr > td.fall {
  color: #3bbb57;
}

.sub-stock-table tr:last-child {
  border: none;
}




.calendar,
.date {
  display: inline-block;
}

.calendar {
  width: 10%;
  height: 100%;
  background: url('../assets/chart/calendar.png') no-repeat center;
}

.date {
  height: 100%;
  color: #fff;
  vertical-align: top;
}

.news-block .content {
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
}

.sentiment-news {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  border: rgb(107, 107, 107) solid 1px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}


.sentiment-news .label,
.sentiment-news .rating {
  display: inline-block;
}


.sentiment-news .rating {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}


.sentiment-news .label {
  vertical-align: bottom;
  font-size: 15px;

}

.sentiment-news .rating .arrow {
  width: 10px;
  height: 20px;
}


.sentiment-news .rating .arrow.rise {
  background: url('../assets/chart/up-arrow.png') no-repeat center;
}


.sentiment-news .rating .arrow.fall {
  background: url('../assets/chart/down-arrow.png') no-repeat center;
}

.rating .arrow,
.rating .percentage {
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
}

.time-and-source {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.time-and-source .time,
.time-and-source .source {
  display: inline-block;
}

.time-and-source .time {
  color: #25bcf1;
}

.time-and-source .source {
  margin-left: 10px;
  color: rgb(107, 107, 107);
}

.sub-stock > li > ul > li:last-child {
  text-align: center;
}


.sub-stock-table tbody tr td:last-child {
  text-align: center;
}

.sub-stack-table tbody tr td a {
  color: rgb(107, 107, 107);
}



/* =Tooltip
-------------------------------------------------------------- */
#tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 150px;
  font-size: 11px;
  background-color: rgb(15, 15, 15);
}
#tooltip > ul > li {
  padding: 4px 10px;
}
#tooltip > ul > li.tt-title {
  background-color: rgb(50, 50, 50);
}
#tooltip > ul > li.tt-subtitle {
  color: rgb(140, 140, 140);
}
#tooltip > ul > li.tt-row {
  color: rgb(140, 140, 140);
}
.tt-label {
  display: inline-block;
  width: 50%;
  color: rgb(140, 140, 140);
}
.tt-value {
  display: inline-block;
  width: 50%;
  color: #fff;
  text-align: right;
}

/* =Toolbar
-------------------------------------------------------------- */
#toolbar {
  position: absolute;
  left: 80px;
  top: 50px;
  z-index: 10;
}
ul.toolbar > li {
  display: inline-block;
  height: 18px;
  margin-top: 2px;
}
ul.toolbar > li > a {
  color: rgb(120, 120, 120);
  padding: 3px 10px;
  margin: 3px;
}
ul.toolbar > li > a:hover,
ul.toolbar > li.active > a,
ul.toolbar > li.active > a:hover {
  text-decoration: none;
  color: #fff;
  padding: 3px 10px;
}

#zoomin {
  background: url("../assets/chart/zoomin.png") no-repeat center;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

#zoomin:hover {
  background-image: url("../assets/chart/zoomin-hover.png");
}

#zoomout {
  background: url("../assets/chart/zoomout.png") no-repeat center;
  height: 50px;
  width: 50px;
}

#zoomout:hover {
  background-image: url("../assets/chart/zoomout-hover.png");
}

#ma-icon {
  background: url("../assets/chart/ma-button.png") no-repeat center;
}

#ma-icon:hover {
  background-image: url("../assets/chart/ma-button-hover.png");
}

#frequency-icon{
  background: url("../assets/chart/period-button.png") no-repeat center;
  height: 50px;
  width: 50px;
}

#frequency-icon:hover {
  background-image: url("../assets/chart/period-button-hover.png");
}

#rsi-icon{
  background: url("../assets/chart/annotations-button.png") no-repeat center;
  height: 50px;
  width: 50px;
}

#rsi-icon:hover {
  background-image: url("../assets/chart/annotations-button-hover.png");
  height: 50px;
  width: 50px;
}

#rsi > .wrapper > .title,
#rsi > .wrapper > .buttons,
#macd > .wrapper > .title,
#macd > .wrapper > .title{
  display: inline-block;
}

#rsi > .wrapper > .buttons,
#macd > .wrapper > .buttons{
  width: 100px;
  height: 20px;
}

#rsi > .wrapper > .buttons,
#macd > .wrapper > .buttons {
  float: right;
}

.wrapper > .buttons > .close {
  background: url('../assets/chart/close.png') no-repeat center;
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

#rsi > .wrapper,
#macd > .wrapper{
  height: 20px;
}


#macd {
  display: none;
}



#ma60-label{
  color: #36973a;
}
#ma20-label{
  color: #94599d;
}

#ma10-label{
  color: #d8db74;
}
#ma5-label{
  color: #fff;
}

